<!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>

<div class="mat-card container-fluid myCustomClass">
  <div class="left">Properties:&nbsp;<b class="data">{{data.title | titlecase}}</b></div>
</div> -->
<div [@dialogAnimation]>

  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
  </button>
  <div class="flex justify-between items-center h-8 p-1 bg-blue-400 text-white shadow-md">
    <div class="text-sm font-bold text-white">
      Property:&nbsp;<b class="data">{{data.title | titlecase}}</b>
    </div>
  </div>
  <div class="p-4 bg-zinc-100 container">
    <form [formGroup]="bDetForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center myCustomClass">
        <div class="col-2">
          <mat-label>S.No:&nbsp;</mat-label><b class="data">{{srNum}}</b>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">Property</mat-label>
            <mat-select matInput placeholder="Branch" formControlName="branchLocn">
              <mat-option value="">--Select--</mat-option>
              <mat-option *ngFor="let x of locations" [value]="x.itemCode">{{x.itemName}}</mat-option>
            </mat-select>
            <!-- <input matInput placeholder="BranchLocn" formControlName="branchLocn" type="text"> -->
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">Address1</mat-label>
            <input matInput placeholder="Address1" formControlName="address1" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">Address2</mat-label>
            <input matInput placeholder="Address2" formControlName="address2" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>Address3</mat-label>
            <input matInput placeholder="Address3" formControlName="address3" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row row justify-content-center">
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">PO_PIN_ZIP</mat-label>
            <input matInput placeholder="PO_PIN_ZIP" formControlName="pO_PIN_ZIP" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">City</mat-label>
            <input matInput placeholder="City" formControlName="city" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">Province</mat-label>
            <input matInput placeholder="Province" formControlName="province" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">Country</mat-label>
            <input matInput placeholder="Country" formControlName="country" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">Phone1</mat-label>
            <input matInput placeholder="Phone1" formControlName="phone1" type="text" (focusout)="onPhone1Change($event)">
          </mat-form-field>
        </div>

      </div>
      <!-- <div class="row row justify-content-center">

    </div> -->
      <div class="row row justify-content-center">
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>Phone2</mat-label>
            <input matInput placeholder="Phone2" formControlName="phone2" type="text" (focusout)="onPhone2Change($event)">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>Phone3</mat-label>
            <input matInput placeholder="Phone3" formControlName="phone3" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>Fax</mat-label>
            <input matInput placeholder="Fax" formControlName="fax" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">email</mat-label>
            <input matInput placeholder="email" formControlName="eMail"
              [ngClass]="{ 'is-invalid': submitted && f.eMail.errors }" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>Current Status</mat-label>
            <input matInput placeholder="Current Status" formControlName="currStatus" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row row justify-content-center">

        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>WebSite</mat-label>
            <input matInput placeholder="WebSite" formControlName="webSite" type="text">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>PinNo</mat-label>
            <input matInput placeholder="PinNo" formControlName="pinNo" type="text">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Notes</mat-label>
            <!-- <textarea matInput placeholder="Notes" formControlName="notes"></textarea> -->
            <input matInput placeholder="Notes" formControlName="notes" type="text">
          </mat-form-field>
        </div>
      </div>
      <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
      <div class="btnAlignment">
        <button mat-raised-button color="primary" type="submit" class="btnUp"
          [disabled]="data.mode =='View' || bDetForm.invalid">
          <mat-icon>done</mat-icon>Apply
        </button>
        <button mat-raised-button color="accent" class="btnUp" type="button" (click)="Add()">
          <mat-icon>add</mat-icon>New
        </button>
        <button mat-raised-button color="warn" type="button" class="btnUp"
          [mat-dialog-close]="true"><mat-icon>cancel</mat-icon>Close</button>
      </div>
    </form>
  </div>
  <ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine"
    style="width: 100%; height:200px;" #agGrid (gridReady)="onGridReady($event)" [columnDefs]="columnDefs"
    [rowData]="rowData" [paginationPageSize]="25" [rowSelection]="rowSelection" [suppressRowClickSelection]="true"
    (rowSelected)="onRowSelected($event)" [gridOptions]="gridOptions">
  </ag-grid-angular>
  <div class="pageSizectrl" style="margin-top:-20px;">
    <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
      [ngModelOptions]="{standalone: true}">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
</div>
