
<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">
      <mat-icon class="mr-1">location_city</mat-icon>
      <b>Block</b>
    </div>
    <div class="flex items-end space-x-1 mb-2.5">
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="direction()"
      [disabled]="blkHdrForm.get('mode')!.value == 'Add' || blkHdrForm.invalid"><mat-icon>
        my_location</mat-icon>
      Directions
    </button>
    <button mat-raised-button color="primary" type="button" class="btnUp"
      (click)="onDocsCilcked(blkHdrForm.get('blockID')!.value)"
      [disabled]="blkHdrForm.get('mode')!.value == 'Add' || blkHdrForm.invalid"><mat-icon>cloud_upload</mat-icon>Docs
    </button>
    <button mat-raised-button class="btnUp" type="button" (click)="NotesDetails(blkHdrForm.get('property')!.value )"
      [disabled]="blkHdrForm.get('property')!.value === '' || blkHdrForm.get('property')!.value === null">
      <mat-icon>note_add</mat-icon>
      Notes
    </button>
    <button mat-raised-button class="btnUp" type="button" (click)="logDetails(blkHdrForm.get('property')!.value )"
      [disabled]="blkHdrForm.get('property')!.value === '' || blkHdrForm.get('property')!.value === null">
      <mat-icon>comment</mat-icon>Log
    </button>
    <button mat-raised-button color="accent" class="btnUp" type="button" (click)="onHelpCilcked()">
      <mat-icon>help</mat-icon>
      Help
    </button>
    </div>
  </div>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="blkHdrForm" (ngSubmit)="onUpdate()">
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Modes</mat-label>
          <mat-select formControlName="mode" (selectionChange)="modeChange(blkHdrForm.get('mode')!.value)">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-class">Property</mat-label>
          <mat-select formControlName="property" (selectionChange)="onSelectedPropertyChanged()">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of propertyList" [value]="x.itemCode">{{x.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-class">Block</mat-label>
          <mat-select formControlName="block" placeholder="Block"
            (selectionChange)="onSelectedBlockChanged(blkHdrForm.get('block')!.value)">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of blockList" [value]="x.itemCode">{{x.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Block Id</mat-label>
          <input matInput placeholder="Block Id" formControlName="blockID" type="text" [matTooltipPosition]="'right'"
            [matTooltip]="blkHdrForm.get('blockID')!.invalid &&
          (blkHdrForm.get('blockID')!.dirty || blkHdrForm.get('blockID')!.touched) ? 'Only Alpha Numeric Max 10 Chars.' : 'Block ID'">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-class">Block Name</mat-label>
          <input matInput placeholder="BlockName" formControlName="blockName" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Block Type</mat-label>
          <mat-select matInput formControlName="blockType">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of blockTypeList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="blockDate" [max]="today"
            (blur)="dateChanged($event,'blockDate')" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Block Year</mat-label>
          <input formControlName="yearBuilt" placeholder="Block Year" type="number" matInput matTooltipPosition="after"
            matTooltip="Enter a 4-digit year between 1950 and {{currentYear}}" />
        </mat-form-field>
      </div>
      <div class="col-3 myCustomClass">
        <mat-form-field appearance="outline" style="width:90px">
          <mat-label class="mat-label-class">Floor Count</mat-label>
          <input matInput placeholder="Floor Count" formControlName="floorCount" class="right-align-input" type="number"
            (input)="onInputChange('floorCount',$event)">
        </mat-form-field>
        <mat-label>Unit Count:&nbsp;</mat-label><b class="data">{{unitCount | number}}</b>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Latitude</mat-label>
          <input matInput placeholder="Latitude" formControlName="latitude" class="right-align-input" type="number">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Longitude</mat-label>
          <input matInput placeholder="Longitude" formControlName="longitude" class="right-align-input" type="number">
        </mat-form-field>
      </div>
      <div class="col-3 myCustomClass">
        <mat-label>Status: </mat-label><b class="data">{{blockStatus  | uppercase}}</b>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Notes</mat-label>
          <input matInput placeholder="Notes" formControlName="notes" type="text">
        </mat-form-field>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp"
        [disabled]="blkHdrForm.invalid || blkHdrForm.controls['mode'].value==='View'">
        <mat-icon>done</mat-icon>Apply
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="clear()">
        <mat-icon>clear_all</mat-icon>Clear
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
        <mat-icon>cancel</mat-icon>Close
      </button>

    </div>
  </form>
</div>
