::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1em !important;
  margin-top: -0.2em !important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1em !important;
}
.wide-textarea {
  width: 100%;
}

#userMessage {
  text-align: center !important;
  font-size: 14px;
  font-family: 900;
}

.input-with-button {
  display: flex;
  align-items: center;
}

.input-with-button input {
  margin-right: 8px; /* Adjust the spacing between the input and button as needed */
}
.container {
  width: 100%;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.input-with-button {
  display: flex;
  align-items: center;
}
/*
.mat-form-field {
  margin-right: 10px;
} */

@media (max-width: 576px) {
  /* Adjust the responsive layout as needed */
  .row.justify-content-center {
    flex-direction: column;
    align-items: center;
  }
}

.custom-disabled-button {
  background-color: #ffc107 !important; /* Set the desired color for the disabled button */
  color: rgb(125, 117, 117) !important;
}
/* .mat-form-field{
  width: 100%;
} */

.size {
  font-size: 12px !important;
}
.name {
  margin-left: 10px !important;
}

.myCustomClass {
  /* background-color: rgb(162, 166, 177); */
  color: black;
  border-radius: 3px;
  font-weight: 600;
  font-size: 11px;
}
/* .mat-icon{
  font-size: 18px;
  margin-top: 3px;
  font-weight: 600;
} */
.custom-status {
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border-radius for rounded corners */
  color: white; /* Set font color to white */

  /* Define background colors based on conditions */
}

.allocated {
  background-color: #808080; /* or any other color */
}
.Progress {
  background-color: blue;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}
.selected-row {
  background-color: yellow; /* Change this to your desired highlight color */
}
