<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>
<div class="flex items-center text-white rounded-sm bg-blue-400 ">
  <mat-icon class="mr-1">account_balance</mat-icon>
  MultiClient Allocation for flat:&nbsp;<b class="data">{{data.Flat}}</b>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="mulitClientsForm">
    <div class="row  justify-content-left myCustomClass">
      <div class="col-1">
        <mat-label>SlNo:&nbsp;<b class="data">{{slNum}}</b></mat-label>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="search">
          <mat-label for="landlord" class="mat-label-class">Landlord</mat-label>
          <input matInput type="text" placeholder="Landlord" id="landlord" formControlName="landlord" />
          <button matSuffix mat-icon-button aria-label="Clear"
            [disabled]="data.mode !='Modify' || data.status !='Open' "
            (click)="mulitClientsForm.get('landlord')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" (click)="searchParty()" type="button">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Share</mat-label>
          <input matInput placeholder="Share" separator appNumberFormat formControlName="share" type="text"
            class="right-align-input">
        </mat-form-field>

      </div>
      <div class="col-2">
        <mat-form-field class="mat-date" appearance="outline">
          <mat-label class="mat-label-class">Join Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="joinDate" [max]="today"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="mat-date" appearance="outline">
          <mat-label class="mat-label-class">Date Left</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dateLeft" [max]="today"/>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" class="btnUp" (click)="onSubmit('Modify')"
        [disabled]="data.mode ==='View' || mulitClientsForm.invalid"><mat-icon>done</mat-icon>Apply</button>
        
      <button mat-raised-button color="accent" type="button" (click)="newItem()"
        class=btnUp><mat-icon>add</mat-icon><b>New</b>
      </button>
      <button mat-raised-button color="primary" class="btnUp" (click)="onSubmit('Delete')"
        [disabled]="data.mode ==='View' || mulitClientsForm.invalid"><mat-icon>delete</mat-icon></button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="_isHundredPercent()">
        <mat-icon>cancel</mat-icon><b>Close</b>
      </button>
    </div>
  </form>
</div>
<ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine" style="width: 100%; height:220px;"
  #agGrid (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="rowData" [paginationPageSize]="25"
  [rowSelection]="rowSelection" [suppressRowClickSelection]="true" (rowSelected)="onRowSelected($event)"
  [gridOptions]="gridOptions">
</ag-grid-angular>
<div class="pageSizectrl" style="margin-top:-20px;">
  <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
    [ngModelOptions]="{standalone: true}">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
