<!-- <div class="mat-card-header" style="display: flex; justify-content: space-between;">
  <div class="col-3">
    <div class="left adj">Bank Deposits Details</div>
  </div>
  <div class="right">
    <button mat-icon-button mat-dialog-close>
      <mat-icon style="font-size: 14px;  color: #000;">close</mat-icon>
    </button>
  </div>
</div> -->
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="mat-card container-fluid">
  <div class="left">Bank Deposits Details</div>
  <!-- <div class="right">
    <button mat-icon-button mat-dialog-close class="small-button">
      <mat-icon class="small-icon">close</mat-icon>
    </button>
  </div> -->
</div>
<mat-card>
  <form [formGroup]="depDetForm">
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Modes</mat-label>
          <mat-select formControlName="mode">
            <mat-option *ngFor="let x of modes" [value="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>LangID</mat-label>
          <input matInput placeholder="LangID" formControlName="langID" type="number">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>TranNo</mat-label>
          <input matInput placeholder="TranNo" formControlName="tranNo" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>SlNo</mat-label>
          <input matInput placeholder="SlNo" formControlName="slNo" type="number">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>TranType</mat-label>
          <input matInput placeholder="TranType" formControlName="tranType" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>RefTranNo</mat-label>
          <input matInput placeholder="RefTranNo" formControlName="refTranNo" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>Party</mat-label>
          <input matInput placeholder="Party" formControlName="party" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>ChequeNo</mat-label>
          <input matInput placeholder="ChequeNo" formControlName="chequeNo" type="text">
        </mat-form-field>
      </div>
      <!-- <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <input matInput placeholder="ChequeDate" formControlName="chequeDate" type="date">
        </mat-form-field>
      </div> -->
      <div class="col-3">
        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>ChequeDate</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="chequeDate" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>ChequeAmount</mat-label>
          <input matInput placeholder="ChequeAmount" formControlName="chequeAmount" type="number">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>ChequeStatus</mat-label>
          <input matInput placeholder="ChequeStatus" formControlName="chequeStatus" type="text">
        </mat-form-field>
      </div>
      <!-- <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <input matInput placeholder="ActivityDate" formControlName="activityDate" type="date">
        </mat-form-field>
      </div> -->
      <div class="col-3">
        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>ActivityDate</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="activityDate" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>Remarks</mat-label>
          <input matInput placeholder="Remarks" formControlName="remarks" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row  justify-content-center" class="container" class={{textMessageClass}}> {{retMessage}} </div>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp" (click)="onUpdate()">
        <mat-icon>update</mat-icon>Update
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
        <mat-icon>cancel</mat-icon>Close
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="reset()">
        <mat-icon>refresh</mat-icon>Reset
      </button>
    </div>
  </form>
</mat-card>
<mat-card>
  <div class="excont" style="height:auto; overflow: auto;">
    <table mat-table matSort [dataSource]="dataSource" class="tbl-dataList">
      <ng-container matColumnDef="langID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LangID</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.langID}} </td>
      </ng-container>
      <ng-container matColumnDef="tranNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TranNo</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.tranNo}} </td>
      </ng-container>
      <ng-container matColumnDef="slNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SlNo</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.slNo}} </td>
      </ng-container>
      <ng-container matColumnDef="tranType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TranType</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.tranType}} </td>
      </ng-container>
      <ng-container matColumnDef="refTranNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RefTranNo</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.refTranNo}} </td>
      </ng-container>
      <ng-container matColumnDef="party">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Party</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.party}} </td>
      </ng-container>
      <ng-container matColumnDef="chequeNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ChequeNo</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.chequeNo}} </td>
      </ng-container>
      <ng-container matColumnDef="chequeDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ChequeDate</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.chequeDate| date:'dd-MM-YYYY' }} </td>
      </ng-container>
      <ng-container matColumnDef="chequeAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ChequeAmount</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.chequeAmount}} </td>
      </ng-container>
      <ng-container matColumnDef="chequeStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ChequeStatus</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.chequeStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="activityDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ActivityDate</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.activityDate| date:'dd-MM-YYYY' }} </td>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
        <td mat-cell *matCellDef="let tblData">{{tblData.remarks}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let cust"> <button class="btn" mat-raised-button color="accent"
            (click)="onViewClicked()">View</button> <button class="btn" mat-raised-button color="primary"
            (click)="onEditClicked()">Edit</button> <button class="btn" mat-raised-button color="warn"
            (click)="onDeleteClicked()">Delete</button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table> <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,50,100]"> </mat-paginator>
  </div>
</mat-card>
