<div class="mat-card container-fluid">
  <div class="left data">Expenses</div>
  <div class="right">
    <button mat-raised-button color="accent" class="btnUp" type="button" (click)="onDetailsCilcked()" [disabled]="expensesForm.get('tranNo')!.value.length === 0">
      <mat-icon>info</mat-icon>Details
    </button>
    <button mat-raised-button color="primary" type="button" class="btnUp"
      (click)="onDocsCilcked(expensesForm.get('tranNo')!.value)"  [disabled]="expensesForm.get('tranNo')!.value.length === 0">
      <mat-icon>scanner</mat-icon>Docs
    </button>
    <button mat-raised-button color="accent" class="btnUp" type="button"
      (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
      Help</button>
  </div>
</div>
<mat-card class="purchase-request-card">
  <form [formGroup]="expensesForm" (ngSubmit)="onSubmit()">
    <div class="row  justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Modes</mat-label>
          <mat-select formControlName="mode" (selectionChange)="modeChange(expensesForm.controls['mode'].value)">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
           
         
      <div class="col-2 custom-col-width">
        <mat-form-field appearance="outline"  style="width:100%">
          <mat-label class="mat-label-class">Tran No</mat-label>
          <input matInput type="text" placeholder="Tran No" formControlName="tranNo" />
          <button matSuffix mat-icon-button aria-label="Clear" *ngIf="expensesForm.get('tranNo')!.value"
            (click)="this.expensesForm.get('tranNo')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" [disabled]="expensesForm.get('mode')!.value === 'Add'"
            (click)="searchData()" type="button">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-date">
          <mat-label class="mat-label-class">Tran Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="tranDate" [max]="tomorrow" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    
    
  </div>
  
    <!-- <div class="matfield">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label class="mat-label-class">Customer/Tenant/Others</mat-label>
        <input matInput type="text" placeholder="Customer/Tenant/Others" formControlName="customer" />
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="expensesForm.get('customer')!.value"
          (click)="expensesForm.get('customer')?.setValue('')" type="button">
          <mat-icon class="mat-clear-icon">clear</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Search" [disabled]="expensesForm.get('mode')!.value == 'View'" (click)="onTenantSearch()" type="button">
          <mat-icon class="mat-search-icon">search</mat-icon>
        </button>
      </mat-form-field>
    </div> -->
    <div class="row  justify-content-center">
      <div class="col-2" >
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Client Type</mat-label>
          <mat-select formControlName="clientType">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of clientTypeList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 custom-col-width">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label class="mat-label-class">Client</mat-label>
        <input matInput type="text" placeholder="Client" formControlName="client" />
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="expensesForm.get('client')!.value"
          (click)="expensesForm.get('client')!.setValue('')" type="button"
         >
          <mat-icon class="mat-clear-icon">clear</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Search" (click)="onClientSearch()" type="button"
          >
          <mat-icon class="mat-search-icon">search</mat-icon>
        </button>
      </mat-form-field>
    </div>
      <div class="col-2">
        <mat-form-field appearance="outline" aria-colspan="2">
          <mat-label  class="mat-label-class">Notes</mat-label>
          <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
        </mat-form-field>
      </div>
    <div class="row  justify-content-center">
      <div class="col-2">
        <mat-label class="myCustomClass">Status:&nbsp;<b class="data">{{tranStatus | uppercase}}</b></mat-label>
      </div>
      <div class="col-2">
        <mat-label class="myCustomClass">Total Amount:&nbsp;<b class="data">{{tranAmount |
            number:'1.2-2'}}</b></mat-label>
      </div>
      <div class="col-2">
        <mat-label class="myCustomClass">Cash Balance:&nbsp;<b class="data">{{balanceAmount |
            number:'1.2-2'}}</b></mat-label>
      </div>
      
    </div>
    
      
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary"
        [disabled]="expensesForm.get('mode')!.value === 'View' || expensesForm.invalid"
        class="btnUp"><mat-icon>done</mat-icon>Apply</button>
      <!-- <button mat-raised-button color="warn" type="button" class="btnUp"
        (click)="reset()"><mat-icon>autorenew</mat-icon>Reset</button> -->
      <button mat-raised-button color="accent" type="button" class="btnUp"
        (click)="clear()"><mat-icon>clear_all</mat-icon>Clear</button>
      <button mat-raised-button color="warn" type="button" class="btnUp"
        (click)="close()"><mat-icon>cancel</mat-icon>Close</button>
        
    </div>
    
  </form>
</mat-card>
