.autocomplete-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    font-weight: bold;
    padding: 6px 10px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    font-size: 13px;
  }
  
  /* Option rows */
  .autocomplete-row {
    display: flex;
    white-space: nowrap;
    min-width: 600px;
    padding: 6px 10px;
    font-size: 10px;
  }
  
  /* Alternating colors */
  ::ng-deep .mat-autocomplete-panel mat-option:nth-child(even) .autocomplete-row {
    background-color: #f9f9f9;
  }
  
  ::ng-deep .mat-autocomplete-panel mat-option:nth-child(odd) .autocomplete-row {
    background-color: #ffffff;
  }
  
  /* Custom hover & focus background */
  ::ng-deep .mat-autocomplete-panel mat-option:hover:not(.mat-selected) .autocomplete-row,
  ::ng-deep .mat-autocomplete-panel mat-option.mat-active .autocomplete-row {
    background-color: #5b6acefe !important; /* Light blue */
    color: #000;
  }
  
  /* Prevent default dark blue selection */
  ::ng-deep .mat-autocomplete-panel mat-option.mat-selected {
    background-color: #dbeafe !important; /* Light blue selection */
    color: #000 !important;
  }
  
  /* Column styles */
  .col-code,
  .col-name,
  .col-phone {
    padding-right: 12px;
    flex: 1;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Panel styling */
  ::ng-deep .mat-autocomplete-panel {
    max-height: 300px;
    overflow-y: auto !important;
    overflow-x: auto !important;
    min-width: 600px;
    white-space: nowrap !important;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  .large-form {
    font-size: 14px; /* Base font size for the form */
  }
  
  .large-form mat-form-field {
    font-size: 14px; /* Font size for mat-form-field */
  }
  
  .large-form .mat-form-field-label {
    font-size: 14px; /* Font size for floating labels */
  }
  
  .large-form .mat-input-element {
    font-size: 14px; /* Font size for input text */
  }
  
  .large-form .mat-select-value {
    font-size: 14px; /* Font size for selected mat-select value */
  }
  
  .large-form .mat-option-text {
    font-size: 14px; /* Font size for mat-select options */
  }
  
  .large-form .mat-checkbox-label {
    font-size: 14px; /* Font size for checkbox labels */
  }
  
  .large-form .mat-icon {
    font-size: 20px; /* Font size for icons */
  }
  .large-form .mat-form-field-label {
    transform: translateY(-1.34375em) scale(1) !important;
  }
  