<!-- <div class="overlay" *ngIf="isPanelVisible">
  <button mat-button (click)="close()">Close</button>
  <ng-template #content></ng-template>

</div>
 -->
 <div class="overlay-side-panel" [class.collapsed]="!isPanelVisible">
  <div class="overlay"

    *ngIf="isPanelVisible" (click)="close()">
  </div>
  <div class="side-panel">
    <div class="close">
      <span (click)="close()">&times;</span>
    </div>
    <div class="content">
      <ng-container #content></ng-container>
    </div>
  </div>
</div>
