<div class="max-w-lg mx-auto py-32">

  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="flex justify-between items-center mb-0.1 h-8 bg-blue-400">
      <div class="flex items-center text-white">
        <mat-icon class="mr-2">lock_reset</mat-icon>
        <b>Change Password</b>
      </div>
    </div>
    <div class="p-4 bg-zinc-100">
      <form [formGroup]="chPassForm" class="text-center">
        <div class="row  justify-content-center myCustomClass">
          <div>
            <mat-label>User Id:&nbsp;</mat-label><b class="data">{{userDataService.userData.userID | uppercase}}</b>
          </div>
        </div>
        <!-- <div class="row row justify-content-center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Old Passowrd</mat-label>
              <input type="password" [type]="showPassword ? 'text' : 'password'" matInput formControlName="oldPassword">
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
        </div> -->
        <div class="row row justify-content-center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">New Passowrd</mat-label>
              <input type="password" [type]="showNewPassword ? 'text' : 'password'" matInput
                formControlName="newPassword">
              <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
                {{showNewPassword?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row row justify-content-center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Confirm Passowrd</mat-label>
              <input type="password" [type]="showConfirmPassword ? 'text' : 'password'" matInput
                formControlName="cnfrmPassword">
              <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
                {{showConfirmPassword?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center"
          style="background-color: red; font-weight: 400; color: white;text-align: center;"
          *ngIf="(((chPassForm.get('newPassword')?.hasError('minlength')) && chPassForm.get('newPassword')!.touched) || (chPassForm.get('cnfrmPassword')?.hasError('minlength') || chPassForm.hasError('mismatch')) && chPassForm.get('cnfrmPassword')!.touched)">
          <ng-container *ngIf="chPassForm.get('newPassword')?.hasError('minlength')">
            <b>New Password should be at least 6 characters long.</b>
          </ng-container>
          <ng-container *ngIf="chPassForm.get('cnfrmPassword')?.hasError('minlength')">
            <b>Confirm Password should be at least 6 characters long.</b>
          </ng-container>
          <ng-container *ngIf="chPassForm.hasError('mismatch')">
            <b>New Password & Confirm Password should match.</b>
          </ng-container>
        </div>

        <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
        <div class="btnAlignment">
          <button mat-raised-button color="primary" type="submit" class=btnUp (click)="onSubmit()"
            [disabled]="chPassForm.invalid"><mat-icon>done</mat-icon>Apply</button>
          <button mat-raised-button color="accent" class="btnUp" type="button" (click)="Clear()">
            <mat-icon>clear_all</mat-icon>Clear
          </button>
          <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
            <mat-icon>cancel</mat-icon>Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
