<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">

      Promotion Works
    </div>
    <div class="flex items-end space-x-1 mb-2.5">
      <button mat-raised-button color="accent" class="btnUp" type="button"
        (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
        Help</button>
    </div>
  </div>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="prhForm">
    <div class="row  justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Mode</mat-label>
          <mat-select formControlName="mode">
            <mat-option *ngFor="let x of modes" [value="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select> </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>Tran No</mat-label>
          <input matInput placeholder="TranNo" formControlName="tranNo" type="text">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Tran Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="tranDate" [max]="tomorrow" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Payroll Year</mat-label>
          <input matInput placeholder="Payroll Year" formControlName="payrollYear" type="text">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Payroll Month</mat-label>
          <input matInput placeholder="Payroll Month" formControlName="payrollMonth" type="text">
        </mat-form-field>
      </div>
      <div class="col-3 myCustomClass">
        <mat-label>Status:&nbsp;</mat-label>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-9">
        <mat-form-field aria-colspan="2" appearance="outline" style="width:100%">
          <mat-label>Notes</mat-label>
          <input matInput placeholder="Notes" formControlName="notes" type="text">
        </mat-form-field>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp">
        <mat-icon>done</mat-icon>Apply
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
        <mat-icon>cancel</mat-icon>Close
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="reset()">
        <mat-icon>clear_all</mat-icon>Clear
      </button>
    </div>
  </form>
</div>
