<button mat-icon-button class="close-button" [mat-dialog-close]="{ isAltered: dataFlag}">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>
<div><b>Tran No:-</b><b class="data">{{data.tranNum}}</b></div>
<mat-tab-group (selectedTabChange)="onTabSelected($event)">
  <mat-tab class="mat-tab" label="Customer Details">
    <ng-template mat-tab-label>
      <mat-icon> dashboard </mat-icon>Item Details(Goods)
    </ng-template>
    <mat-card *ngIf="selectedTabIndex === 0">
      <form [formGroup]="grnDetailsForm" (ngSubmit)="onSubmit()" class="content-container">
        <div class="row myCustomClass  justify-content-center ">
          <div class="col-1">
            <mat-label>S.No:<b class="data">{{slNum}}</b></mat-label>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" style="width:90%">
              <mat-label class="mat-label-class">Product</mat-label>
              <input matInput type="text" placeholder="Product" formControlName="product" />
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="grnDetailsForm.get('product')!.value"
                (click)="grnDetailsForm.get('product')!.setValue('')" type="button">
                <mat-icon class="mat-clear-icon">clear</mat-icon>
              </button>
              <button matSuffix mat-icon-button aria-label="Search" (click)="searchProduct()" type="button">
                <mat-icon class="mat-search-icon">search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline"  class="mat-mode">
              <mat-label class="mat-label-class">UOM</mat-label>
              <input type="text" matInput formControlName="uom" placeholder="UOM" />
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Warehouse</mat-label>
              <mat-select matInput placeholder="warehouse" formControlName="warehouse">
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of wareHouseList" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row  justify-content-center">
          <div class="col-2">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>Unit Rate</mat-label>
              <input matInput placeholder="unitRate" appNumberFormat separator formControlName="unitRate" type="text"
                class="right-align-input">
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>Disc Rate</mat-label>
              <input matInput placeholder="discRate" appNumberFormat separator formControlName="discRate" type="text"
                class="right-align-input" >
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>VAT Rate</mat-label>
              <input matInput placeholder="vatRate" appNumberFormat separator formControlName="vatRate" type="number"
                class="right-align-input">
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>Net Rate</mat-label>
              <input matInput placeholder="netRate" appNumberFormat separator formControlName="netRate" type="text"
                class="right-align-input" >
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>Quantity</mat-label>
              <input matInput placeholder="quantity" appNumberFormat formControlName="quantity" type="text"
                class="right-align-input" >
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" style="width: 90px;">
              <mat-label>Amount</mat-label>
              <input matInput placeholder="amount" appNumberFormat separator formControlName="amount" type="text"
                class="right-align-input" >
            </mat-form-field>
          </div>
        </div>
        <div class="row  justify-content-center">
          <div class="col-2">
            <mat-form-field appearance="outline"  class="mat-mode">
              <mat-label>Lot No</mat-label>
              <input matInput placeholder="Lot No" class="right-align-input" formControlName="lotNo" type="number">
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline"  class="mat-mode">
              <mat-label>Serial No</mat-label>
              <input matInput placeholder="Serial No" formControlName="serialNo" type="text">
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline"  class="mat-mode">
              <mat-label>Unit Weight</mat-label>
              <input matInput placeholder="Unit Weight" class="right-align-input" formControlName="unitWeight" type="number">
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline">
              <mat-label>PO Num</mat-label>
              <input matInput placeholder="PO Num" formControlName="poNo" type="text">
            </mat-form-field>
          </div>

        </div>

        <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
        <div class="btnAlignment">
          <button mat-raised-button color="primary" class="btnUp"
            [disabled]="data.mode === 'View' || grnDetailsForm.invalid || data.status !='Open'">
            <mat-icon>done</mat-icon><b>Apply</b>
          </button>
          <button mat-raised-button color="accent" type="button" (click)="newGRN()" class=btnUp>
            <mat-icon>add</mat-icon><b>New</b>
          </button>
          <button mat-raised-button color="warn" class="btnUp" type="button" [mat-dialog-close]="true">
            <mat-icon>cancel</mat-icon><b>Close</b>
          </button>
        </div>
      </form>
    </mat-card>
    <ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine"
      (firstDataRendered)="onFirstDataRendered($event)" #agGrid (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs" [domLayout]="autoHeight ? 'autoHeight' : 'autoHeight'" [rowData]="rowData"
      [paginationPageSize]="25" [rowSelection]="rowSelection" [suppressRowClickSelection]="true"
      (rowSelected)="onRowSelected($event)" [gridOptions]="gridOptions">
    </ag-grid-angular>
    <div class="pageSizectrl" style="margin-top:-20px;">
      <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
    </div>
  </mat-tab>
  <mat-tab class="mat-tab" label="Customer Details" [disabled]="!grnDetTmp">
    <ng-template mat-tab-label>
      <mat-icon> dashboard </mat-icon>Item Charges
    </ng-template>
    <!-- <mat-card > -->

      <app-item-charges *ngIf="selectedTabIndex === 1" [data]="data"></app-item-charges>
    <!-- </mat-card> -->
  </mat-tab>
  <mat-tab class="mat-tab" label="Customer Details">
    <ng-template mat-tab-label>
      <mat-icon> dashboard </mat-icon>Common Charges
    </ng-template>
    <!-- <mat-card > -->
      <app-common-charges *ngIf="selectedTabIndex === 2" [data]="data"></app-common-charges>
    <!-- </mat-card> -->
  </mat-tab>
</mat-tab-group>
