<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>

<div class="flex items-center text-white rounded-sm bg-blue-400 ">
  <mat-icon class="mr-1">search</mat-icon>
  <b>{{searchName | titlecase}}</b>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="SearchProductForm">
    <div class="row  justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline">
          <mat-label>Group</mat-label>
          <mat-select formControlName="group" matInput>
            <mat-option value="ANY">--Select--</mat-option>
            <mat-option value="ANY">ANY</mat-option>
            <mat-option *ngFor="let e of productGroupList" [value]="e.itemCode">
              {{e.itemName}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select placeholder="Type" formControlName="type" matInput>
            <mat-option value="ANY">--Select--</mat-option>
            <mat-option value="Stock">Stock</mat-option>
            <mat-option value="Service">Service</mat-option>
            <!-- <mat-option *ngFor="let e of tranStatus" [value]="e">
              {{e}} </mat-option> -->
          </mat-select>
          <!-- <input matInput placeholder="Type" formControlName="type" type="text"> -->
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" type="text">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline">
          <mat-label>UOM</mat-label>
          <mat-select formControlName="uom" matInput placeholder="UOM">
            <mat-option value="">--Select--</mat-option>
            <mat-option value="ANY">ANY</mat-option>
            <mat-option *ngFor="let e of UOMList" [value]="e.itemCode">
              {{e.itemName}} </mat-option>
          </mat-select>
          <!-- <input matInput placeholder="UOM" formControlName="uom" type="text"> -->
        </mat-form-field>
      </div>

    </div>
    <div class="btnAlignment">
      <button mat-raised-button color="accent" class="btnUp"
        (click)="search()"><mat-icon>search</mat-icon>Search</button>
      <button mat-raised-button color="primary" class=btnUp (click)="clear()">
        <mat-icon>clear_all</mat-icon>Clear</button>
      <button mat-raised-button color="warn" class="btnUp" type="button" [mat-dialog-close]="true">
        <mat-icon>cancel</mat-icon><b>Close</b>
      </button>
    </div>
  </form>
</div>
<app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
<ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine" style="width: 100%; height:310px;"
  #agGrid (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="rowData" [paginationPageSize]="25"
  [rowSelection]="rowSelection" [suppressRowClickSelection]="true" (rowSelected)="onRowSelected($event)"
  [gridOptions]="gridOptions">
</ag-grid-angular>
<div class="pageSizectrl" style="margin-top:-20px;">
  <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
    [ngModelOptions]="{standalone: true}">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
</div>
