<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">
      <mat-icon class="mr-1">request_quote</mat-icon>
      <b>Dairy</b>
    </div>
  </div>
</div>
<div class="p-2 bg-zinc-100 container rounded-sm">
  <form [formGroup]="dairyForm" (ngSubmit)="onSubmit()" class="space-y-1">
    <div class="row justify-content-center">
      <div class="col-md-3 offset-md-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" type="text">
          <button mat-button *ngIf="dairyForm.get('name')!.value" type="button" matSuffix mat-icon-button
            aria-label="Clear" (click)="dairyForm.get('name')!.setValue('')">
            <mat-icon>cancel</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" type="button" (click)="onEmployeeSearch()"
            >
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" [max]="tomorrow" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3 ">
        <mat-label>S.No:</mat-label>&nbsp;&nbsp;<b class="data">{{slNum}}</b>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="col-md-3 offset-md-1">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>From Time</mat-label>
          <input matInput type="time" formControlName="fromTime">
        </mat-form-field>

      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>To Time</mat-label>
          <input matInput type="time" formControlName="toTime" [attr.max]="maxTime" (change)="validateTime()">
          </mat-form-field>

      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Activity</mat-label>
          <textarea formControlName="activity" matInput placeholder="Activity"></textarea>
        </mat-form-field>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 offset-md-1">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of statusList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Self Rating</mat-label>
          <input type="number" matInput placeholder="(0-10)" formControlName="rating" min="0" max="10">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Reamarks</mat-label>
          <textarea formControlName="remarks" matInput placeholder="Remarks"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 offset-md-1">
        <mat-form-field appearance="outline" class="w-full" >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="Evalname" type="text" [disabled]="isAdmin()">
          <button mat-button *ngIf="dairyForm.get('Evalname')!.value" type="button" matSuffix mat-icon-button
            aria-label="Clear" (click)="dairyForm.get('Evalname')!.setValue('')">
            <mat-icon>cancel</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" type="button" (click)="onAdminSearch()"
            >
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Eval Rating</mat-label>
          <input type="number" matInput placeholder="(0-10)" formControlName="Evalrating" min="0" max="10" [disabled]="isAdmin()">
        </mat-form-field>
      </div>
      <!-- <div class="col-md-3 ">
        <mat-label>S.No:</mat-label>&nbsp;&nbsp;<b class="data">{{slNum}}</b>
      </div> -->
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="flex justify-center gap-1 btnAlignment">
      <button mat-raised-button color="primary" class="btnUp"
        [disabled]="dairyForm.invalid">
        <mat-icon>done</mat-icon> Apply
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="clear()">
        <mat-icon>clear_all</mat-icon> Clear
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="close()">
        <mat-icon>cancel</mat-icon> Close
      </button>
    </div>
  </form>
  <div class="grid" style="margin-top:-20px;">
    <app-access-grid [columnDefs]="columnDefs1" [rowData]="rowData" [exportPDF]="true" [exportExcel]="true"
      [globalSearch]="true" (gridReady)="onGridReady($event)" (cellClicked)="onRowSelected($event)" [gridHeight]="'230px'"
      [paginationPageSize]="100" [showToolPanel]="true" [showRecordCount]="true">
    </app-access-grid>
  </div>
  <div class="pageSizectrl" style="margin-top:-20px;">
    <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
      [ngModelOptions]="{standalone: true}">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
</div>

