.autocomplete-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    font-weight: bold;
    padding: 6px 10px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    font-size: 13px;
  }
  
  /* Option rows */
  .autocomplete-row {
    display: flex;
    white-space: nowrap;
    min-width: 600px;
    padding: 6px 10px;
    font-size: 10px;
  }
  
  