.data{
  font-size: 12px !important;
  font-weight: 600 !important;
}
.myCustomClass {
  /* background-color: rgb(162, 166, 177); */
  color: black;
  border-radius: 3px;
  font-weight: 600;
  font-size: 11px;
}
