<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">
      <mat-icon class="mr-1">apartment</mat-icon>
      <b>Units</b>
    </div>
    <div class="flex items-end space-x-1 mb-2.5">
      <!-- <div class="col-md-4" *ngIf="unitDetForm.get('multiLandLord')!.value" style="flex: 1; margin: 0;"> -->
      <!-- <button mat-raised-button color="primary" class="btnUp" type="button"
          (click)="multiClient()" [disabled]="unitDetForm.get('mode')!.value == 'Add'"
          style="width: 100%; height: 30px;font-size: 12px; margin-top: -5px;">
          Landlords
        </button> -->
      <button mat-raised-button color="primary" class="btnUp" type="button" (click)="multiClient()"
        [disabled]="unitDetForm.get('mode')!.value == 'Add' || unitDetForm.invalid"><mat-icon>persons</mat-icon>
        Landlords
      </button>
      <!-- </div> -->
      <button mat-raised-button color="primary" class="btnUp" type="button" (click)="finacials()"
        [disabled]="unitDetForm.get('mode')!.value == 'Add'  || unitDetForm.invalid"><mat-icon>money</mat-icon>
        Financials
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="Services()"
        [disabled]="unitDetForm.get('mode')!.value == 'Add' || unitDetForm.invalid"><mat-icon>settings_applications</mat-icon>
        Services
      </button>
      <button mat-raised-button color="primary"
        [disabled]="unitDetForm.get('mode')!.value == 'Add'  || unitDetForm.invalid" class="btnUp"
        [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        Actions
      </button>
      <mat-menu #menu="matMenu">
        <ng-container>
          <a mat-menu-item (click)="preBookingFlat()">
            <mat-icon style="font-size: 16px;">event</mat-icon>
            <span class="menu-label data">Pre Booking</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="prevacantNotice()">
            <mat-icon style="font-size: 16px;">event</mat-icon>
            <span class="menu-label data">Vacant Notice</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="Equipements()">
            <mat-icon style="font-size: 16px;">construction</mat-icon>
            <span class="menu-label data">Inventory</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="onDocsCilcked()">
            <mat-icon style="font-size: 16px;">cloud_upload</mat-icon>
            <span class="menu-label data">Docs</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="direction()">
            <mat-icon style="font-size: 16px;">my_location</mat-icon>
            <span class="menu-label data">Directions</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="generatePDF()">
            <mat-icon style="font-size: 16px;">picture_as_pdf</mat-icon>
            <span class="menu-label data">Aggrement</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="historyOfFlat()">
            <mat-icon style="font-size: 16px;">history</mat-icon>
            <span class="menu-label data">Flat History</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="historyOfGrievances()">
            <mat-icon style="font-size: 16px;">history</mat-icon>
            <span class="menu-label data">Grievance History</span>
          </a>
        </ng-container>
        <ng-container>
          <a mat-menu-item (click)="sendSMS()">
            <mat-icon style="font-size: 16px;">textsms</mat-icon>
            <span class="menu-label data">Send SMS</span>
          </a>
        </ng-container>
      </mat-menu>

      <button mat-raised-button class="btnUp" type="button" (click)="NotesDetails(unitDetForm.get('flat')!.value )"
        [disabled]="unitDetForm.get('flat')!.value === '' || unitDetForm.get('flat')!.value === null">
        <mat-icon>note_add</mat-icon>
        Notes
      </button>
      <button mat-raised-button class="btnUp" type="button" (click)="logDetails(unitDetForm.get('flat')!.value )"
        [disabled]="unitDetForm.get('flat')!.value === '' || unitDetForm.get('flat')!.value === null">
        <mat-icon>comment</mat-icon>Log
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="onHelpCilcked()">
        <mat-icon>help</mat-icon>
        Help
      </button>
    </div>
  </div>
</div>

<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="unitDetForm" (ngSubmit)="beforeonUpdate()">
    <div class="row">
      <div class="col-md-9">
        <div class="row justify-content-left">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Mode</mat-label>
              <mat-select formControlName="mode" (selectionChange)="modeChange(unitDetForm.get('mode')!.value)">
                <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Property</mat-label>
              <mat-select formControlName="property" (selectionChange)="onSelectedPropertyChanged()">
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of props" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Block</mat-label>
              <mat-select formControlName="block" (selectionChange)="onSelectedBlockChanged()">
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of blocks" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="search">
              <mat-label class="mat-label-class">Flat</mat-label>
              <input matInput type="text" placeholder="Flat" formControlName="flat" />
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="unitDetForm.get('flat')!.value"
                (click)="unitDetForm.get('flat')!.setValue('')" type="button">
                <mat-icon class="mat-clear-icon">clear</mat-icon>
              </button>
              <button matSuffix mat-icon-button aria-label="Search" (click)="onFlatSearch()" type="button" [disabled]="unitDetForm.get('mode')!.value === 'Add' ||
                unitDetForm.get('property')!.value === '' ||
                unitDetForm.get('block')!.value === ''">
                <mat-icon class="mat-search-icon">search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Unit ID</mat-label>
              <input matInput placeholder="Unit ID" appAlphanumeric formControlName="unitID" type="text"
                [matTooltipPosition]="'right'" [matTooltip]="unitDetForm.get('unitID')!.invalid &&
                (unitDetForm.get('unitID')!.dirty || unitDetForm.get('unitID')!.touched)
                ? 'Only alpha numeric values are allowed.' : 'Unit ID'">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label class="mat-label-class">Unit Name</mat-label>
              <input matInput placeholder="UnitName" formControlName="unitName" type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-mode">
                  <mat-label class="mat-label-class">Usage Type</mat-label>
                  <mat-select formControlName="usageType"
                    [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                    >
                    <mat-option value="">--Select--</mat-option>
                    <mat-option *ngFor="let x of usageTypes" [value]="x.itemCode">{{x.itemName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-mode">
                  <mat-label class="mat-label-class">Flat Type</mat-label>
                  <mat-select formControlName="flatType"
                    [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                    >
                    <mat-option value="">--Select--</mat-option>
                    <mat-option *ngFor="let x of flatTypes" [value]="x.itemCode">{{x.itemName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-mode">
                  <mat-label class="mat-label-class">Flooring</mat-label>
                  <mat-select formControlName="floorType"
                    [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                    >
                    <mat-option value="">--Select--</mat-option>
                    <mat-option *ngFor="let x of floorTypes" [value]="x.itemCode">{{x.itemName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-mode">
                  <mat-label class="mat-label-class ">Luxury Type</mat-label>
                  <mat-select formControlName="luxuryType"
                    [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                    >
                    <mat-option value="">--Select--</mat-option>
                    <mat-option *ngFor="let x of comfortsList" [value]="x.itemCode">{{x.itemName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="row ">
              <div class="col-md-5">
                <mat-form-field class="mat-date" appearance="outline">
                  <mat-label class="mat-label-class">Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="unitDate" [max]="today"
                    (blur)="dateChanged($event,'unitDate')" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-date" appearance="outline">
                  <mat-label class="mat-label-class">{{joinDate}}</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="joinDate" [max]="today"
                    (blur)="dateChanged($event,'joinDate')" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="display: flex; align-items: center; flex-wrap: wrap; gap: 10px;">
          <!-- Landlords Button (when MultiLandLord is true) -->


          <!-- Landlord Field (when MultiLandLord is false) -->
          <div class="col-md-3" style="flex: 1; margin: 0;">
            <mat-form-field appearance="outline" style="width: 100%; margin: 0;">
              <mat-label>Landlords</mat-label>
              <input matInput type="text" placeholder="Landlord" formControlName="landLordName" />
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="unitDetForm.get('landLordName')!.value"
                (click)="unitDetForm.get('landLordName')!.setValue('')" type="button">
                <mat-icon class="mat-clear-icon" style="font-size: 14px;">clear</mat-icon>
              </button>
              <button matSuffix mat-icon-button aria-label="Search" (click)="onSupplierSearch()" type="button"
                [disabled]="unitDetForm.get('mode')!.value === 'View' || unitDetForm.get('updateAll')!.value">
                <mat-icon class="mat-search-icon" style="font-size: 14px;">search</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- Multi Checkbox -->
          <!-- <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">
            <mat-checkbox formControlName="multiLandLord"
              style="font-size: 12px; line-height: 1.5; margin: 0;">
              Multi
            </mat-checkbox>
          </div> -->

          <!-- Employee Field -->
          <div class="col-md-3" style="flex: 1; margin: 0;">
            <mat-form-field appearance="outline" style="width: 100%; margin: 0;">
              <mat-label>Employee</mat-label>
              <input matInput type="text" placeholder="Employee" formControlName="empName" />
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="unitDetForm.get('empName')!.value"
                (click)="unitDetForm.get('empName')!.setValue('')" type="button">
                <mat-icon class="mat-clear-icon" style="font-size: 14px;">clear</mat-icon>
              </button>
              <button matSuffix mat-icon-button aria-label="Search" (click)="onEmployeeSearch()" type="button"
                [disabled]="unitDetForm.get('mode')!.value === 'View' || unitDetForm.get('updateAll')!.value">
                <mat-icon class="mat-search-icon" style="font-size: 14px;">search</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- Tenant Field -->
          <div class="col-md-3" style="flex: 1; display: flex; align-items: center; margin: 0;">
            <mat-form-field appearance="outline" style="width: calc(100% - 40px); margin: 0;">
              <mat-label>Tenant</mat-label>
              <input matInput type="text" placeholder="Tenant" formControlName="tenantName" />
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="unitDetForm.get('tenantName')!.value"
                (click)="unitDetForm.get('tenantName')!.setValue('')" type="button">
                <mat-icon class="mat-clear-icon" style="font-size: 14px;">clear</mat-icon>
              </button>
              <button matSuffix mat-icon-button aria-label="Search" (click)="onTenantSearch()" type="button"
                [disabled]="unitDetForm.get('mode')!.value === 'View' || unitDetForm.get('updateAll')!.value">
                <mat-icon class="mat-search-icon" style="font-size: 14px;">search</mat-icon>
              </button>
            </mat-form-field>
            <button mat-icon-button aria-label="Details" (click)="tenanDetails($event)" type="button"
              [disabled]="unitDetForm.get('mode')!.value === 'View' || unitDetForm.get('updateAll')!.value || unitDetForm.get('tenantName')!.value === ''">
              <mat-icon class="mat-launch-icon" style="font-size: 14px;">launch</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label>Size</mat-label>
              <input matInput placeholder="Size" formControlName="size" class="right-align-input" type="number"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                 (input)="onInputChange('size',$event)">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label>Flinth Area</mat-label>
              <input matInput placeholder="FlinthArea" formControlName="flinthArea" class="right-align-input"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                 (input)="onInputChange('flinthArea',$event)"
                type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label>Carpet Area</mat-label>
              <input matInput placeholder="CarpetArea" formControlName="carpetArea" class="right-align-input"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                 (input)="onInputChange('carpetArea',$event)"
                type="number">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:80px">
              <mat-label class="mat-label-class">Plex Type</mat-label>
              <mat-select formControlName="plexType"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                >
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of plexTypeList" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label class="mat-label-class">Bed Rooms</mat-label>
              <mat-select formControlName="bedRooms"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                >
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of bedroomList" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
              <!-- <input matInput placeholder="BedRooms" formControlName="bedRooms" type="number" class="right-align-input"
                (input)="onInputChange('bedRooms',$event)"> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label class="mat-label-class">Bath Rooms</mat-label>
              <input matInput placeholder="Bath Rooms" formControlName="bathRooms" type="number"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                (input)="onInputChange('bathRooms',$event)" class="right-align-input"
                >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label class="mat-label-class">Total Rooms</mat-label>
              <input matInput placeholder="TotalRooms" formControlName="totalRooms" class="right-align-input"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                 (input)="onInputChange('totalRooms',$event)"
                type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label class="mat-label-class">Balcony's</mat-label>
              <input matInput placeholder="Bolocny's" formControlName="bolcony" class="right-align-input" type="number"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                 (input)="onInputChange('bolcony',$event)">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:70px">
              <mat-label class="mat-label-class">Floor No</mat-label>
              <input matInput placeholder="FloorNo" formControlName="floorNo" class="right-align-input" type="number"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                 (input)="onInputChange('floorNo',$event)">
            </mat-form-field>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 70px;">
              <mat-label class="mat-label-class">Inv Day</mat-label>
              <input matInput placeholder="InvDay" formControlName="invDay" type="number"
                (input)="onInputChange('invDay',$event)" class="right-align-input">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 70px;">
              <mat-label class="mat-label-class">Tnt Pay Day</mat-label>
              <input matInput placeholder="TenantPayDay" formControlName="tenantPayDay" type="number"
                (input)="onInputChange('tenantPayDay',$event)" class="right-align-input">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 70px;">
              <mat-label class="mat-label-class">Llrd Pay Day</mat-label>
              <input matInput placeholder="LandlordPayDay" formControlName="landlordPayDay" type="number"
                (input)="onInputChange('landlordPayDay',$event)" class="right-align-input">
            </mat-form-field>

          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 110px;">
              <mat-label class="mat-label-class">furnished Type</mat-label>
              <mat-select formControlName="furnish"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                >
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of unitTypeList" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 110px;">
              <mat-label class="mat-label-class">Rent Type</mat-label>
              <mat-select formControlName="rentType"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                >
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of rentTypeList" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width:100px">
              <mat-label>Longitude</mat-label>
              <input matInput placeholder="Longitude" formControlName="longitude" type="number"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''"
                class="right-align-input">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100px">
              <mat-label>Latitude</mat-label>
              <input matInput placeholder="Latitude" formControlName="latitude" type="number" class="right-align-input"
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">
            </mat-form-field>
          </div>
        </div>
        <div class="row  myCustomClass">
          <div class="col-md-2">
            <mat-checkbox formControlName="studyRoom"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Study Room</mat-checkbox>
          </div>
          <div class="col-md-2">
            <mat-checkbox formControlName="servantRoom"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Servant
              Room</mat-checkbox>
          </div>
          <div class="col-md-2">
            <mat-checkbox formControlName="servantToilet"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Servant
              Toilet</mat-checkbox>

          </div>
          <div class="col-md-2">
            <mat-checkbox formControlName="utility"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Utility</mat-checkbox>
          </div>
          <div class="col-md-2">
            <mat-checkbox formControlName="store"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Store</mat-checkbox>
          </div>
          <div class="col-md-2">
            <mat-checkbox formControlName="extraHall"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Extra Hall</mat-checkbox>
          </div>
        </div>
        <div class="row myCustomClass">
          <div class="col-md-3">
            <mat-checkbox formControlName="payWhenVacant">Pay When Vacant</mat-checkbox>
          </div>
          <div class="col-md-3">
            <mat-checkbox formControlName="petsAllowed"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Pets
              Allowed</mat-checkbox>

          </div>
          <div class="col-md-3">
            <mat-checkbox formControlName="smokingAllowed"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Smoking
              Allowed</mat-checkbox>
          </div>
          <div class="col-md-3">
            <mat-checkbox class="highlight-checkbox" formControlName="noRent"
              style="margin-left: 10px;background-color: burlywood;border: 1px solid; padding: 4px;">No
              Rent</mat-checkbox>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-full" >
              <mat-label>Similar</mat-label>
              <input matInput placeholder="Similar financial units"  formControlName="UnitsList"
                type="text "
                [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">
            </mat-form-field>
          </div>
          <!-- <div class="col-md-3">
            <mat-checkbox class="highlight-checkbox" formControlName="multiLandLord"
              style="margin-left: 10px;background-color: burlywood;border: 1px solid; padding: 4px;">Multi LandLord</mat-checkbox>
          </div> -->
          <div class="row" *ngIf="loggedInUserProfile !== 'cmpuser'">
            <div class="col-md-6">
              <div>
                <mat-form-field appearance="outline" class="w-full" >
                  <mat-label>Currency</mat-label>
                  <mat-select formControlName="currency"
                    [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">
                    <mat-option value="">--Select--</mat-option>
                    <mat-option *ngFor="let x of currencyList" [value]="x.itemCode">{{ x.itemName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Unit Rate</mat-label>
                <input matInput placeholder="Unit Rate" min="0" formControlName="unitRate" separator appNumberFormat
                  type="text " class="right-align-input"
                  [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <mat-form-field appearance="outline" style="width:90%;">
              <mat-label>Notes</mat-label>
              <input matInput placeholder="Notes" formControlName="notes" type="text">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-label>Status:&nbsp;</mat-label><b class="data">{{flatStatus |uppercase}}</b>
          </div>

        </div>
      </div>
      <div class="col-md-3 ">
        <div class="row"
          style="background-color: rgb(240, 218, 195); width: 220px; border-radius: 50px;border: 1px solid;">
          <div class="col-md-12 offset-md-2 myCustomClass">
            <mat-checkbox formControlName="updateAll"
              [matTooltip]="loggedInUserProfile === 'cmpuser' ? 'Only admin can modify' : ''">Update All</mat-checkbox>
          </div>
          <div style="text-align: center;">
            <mat-form-field appearance="outline" style="width:120px">
              <mat-label class="mat-label-class">Pattern</mat-label>
              <mat-select formControlName="pattern" (selectionChange)="PatternChanged($event)">
                <mat-option value="">--Select--</mat-option>
                <mat-option value="1A">1A</mat-option>
                <mat-option value="A01">A01</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <br>
          <div class="col-md-12  offset-md-2">
            <mat-form-field appearance="outline" style="width:60px">
              <mat-label class="mat-label-class">From</mat-label>
              <input matInput placeholder="From" formControlName="fromFloorNo" class="right-align-input" type="number"
                (input)="onInputChange('fromFloorNo',$event)">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:60px">
              <mat-label class="mat-label-class">To</mat-label>
              <input matInput placeholder="TotalRooms" formControlName="toFloorNo" class="right-align-input"
                (input)="onInputChange('toFloorNo',$event)" type="number">
            </mat-form-field>
          </div>
          <div class="col-md-12  offset-md-2">
            <mat-form-field appearance="outline" style="width:60px">
              <mat-label class="mat-label-class">Number</mat-label>
              <input matInput placeholder="Ex.1" formControlName="first" class="left-align-input" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:60px">
              <mat-label class="mat-label-class">Alphabet</mat-label>
              <input matInput placeholder="Ex.A" formControlName="second" class="left-align-input" type="text"
                (input)="onSecondNameCHnages($event)">
            </mat-form-field>
          </div>
        </div>
        <div class="row"
          style="background-color: rgb(240, 218, 195); width: 220px; border-radius: 60px;border: 1px solid;">
          <div class="col-md-12  offset-md-2 myCustomClass">
            <!-- <mat-label>Water Discount</mat-label>
            <input type="checkbox" formControlName="waterDiscount" style="margin-left: 0.2rem;" /> -->
            <mat-checkbox formControlName="waterDiscount">Water Discount</mat-checkbox>
          </div>
          <div class="col-md-12  offset-md-2">
            <mat-form-field appearance="outline" class="mat-mode">
              <mat-label>Discount Type</mat-label>
              <mat-select formControlName="discType">
                <mat-option value="">--Select--</mat-option>
                <mat-option value="PERCENTAGE">Percentage</mat-option>
                <mat-option value="FLAT">Flat</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12  offset-md-2">
            <mat-form-field appearance="outline" class="mat-mode">
              <mat-label>Disc Rate</mat-label>
              <input matInput placeholder="Rate" separator formControlName="discRate" class="right-align-input"
                type="text">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp"
        [disabled]="unitDetForm.get('mode')!.value === 'View' || unitDetForm.invalid">
        <mat-icon>done</mat-icon>Apply
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="Clear()">
        <mat-icon>clear_all</mat-icon>Clear
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
        <mat-icon>cancel</mat-icon>Close
      </button>
    </div>
  </form>
</div>
