<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">
      <mat-icon class="mr-1">business</mat-icon>
      <b>Property</b>
    </div>
    <div class="flex items-end space-x-1 mb-2.5">
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="direction()"
      [disabled]="propForm.get('mode')!.value == 'Add' || propForm.invalid">
      <mat-icon> my_location</mat-icon>
      Directions
    </button>
    <button mat-raised-button color="primary" type="button" class="btnUp"
      (click)="onDocsCilcked(propForm.get('propertyId')!.value)"
      [disabled]="propForm.get('mode')!.value == 'Add' || propForm.invalid"><mat-icon>cloud_upload</mat-icon>
      Docs
    </button>
    <button mat-raised-button color="accent" class="btnUp" type="button" (click)="sendGreetings()"
      [disabled]="propForm.get('mode')!.value == 'Add' || propForm.invalid">
      <mat-icon>textsms</mat-icon>
      Greet
    </button>
    <button mat-raised-button class="btnUp" type="button" (click)="NotesDetails(propForm.get('propertyId')!.value )"
      [disabled]="propForm.get('propertyId')!.value === '' || propForm.get('propertyId')!.value === null">
      <mat-icon>note_add</mat-icon>
      Notes
    </button>
    <button mat-raised-button class="btnUp" type="button" (click)="logDetails(propForm.get('propertyId')!.value )"
      [disabled]="propForm.get('propertyId')!.value === '' || propForm.get('propertyId')!.value === null">
      <mat-icon>comment</mat-icon>Log
    </button>
    <button mat-raised-button color="accent" class="btnUp" type="button" (click)="onHelpCilcked()">
      <mat-icon>help</mat-icon>
      Help
    </button>
    </div>
  </div>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="propForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="mode">Modes</mat-label>
          <mat-select formControlName="mode" id="mode" (selectionChange)="modeChange(propForm.get('mode')!.value)">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="search">
          <mat-label for="propertyName" class="mat-label-class">Property</mat-label>
          <input matInput type="text" placeholder="Property Name" id="propertyName" formControlName="propertyName" />
          <button matSuffix mat-icon-button aria-label="Clear" *ngIf="propForm.get('propertyName')!.value"
            (click)="propForm.get('propertyName')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" [disabled]="propForm.get('mode')!.value === 'Add'"
            (click)="propertySearch()" type="button">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class" for="propertyId"> Property Id</mat-label>
          <input matInput placeholder="Property Id" formControlName="propertyId" type="text" id="propertyId"
            [matTooltipPosition]="'right'" appAlphanumeric
            [matTooltip]="propForm.get('propertyId')!.invalid &&
        (propForm.get('propertyId')!.dirty || propForm.get('propertyId')!.touched) ? 'Only Alpha Numeric Max 10 Chars.' : 'Property Id'">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="search">
          <mat-label for="ventureName">Venture</mat-label>
          <input matInput type="text" placeholder="Venture Name" formControlName="ventureName" id="ventureName" />
          <button matSuffix mat-icon-button aria-label="Clear" *ngIf="propForm.get('ventureName')!.value"
            (click)="propForm.get('ventureName')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" [disabled]="propForm.get('mode')!.value === 'Add'"
            (click)="onVentureSearch()" type="button">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="search">
          <mat-label for="employeeName">Employee</mat-label>
          <input matInput type="text" placeholder="Employee" formControlName="employeeName" id="employeeName" />
          <button matSuffix mat-icon-button aria-label="Clear" *ngIf="propForm.get('employeeName')!.value"
            (click)="propForm.get('employeeName')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" [disabled]="propForm.get('mode')!.value === 'View'"
            (click)="onEmployeeSearch()" type="button">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class" for="acquiredDate">Acquired Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="acquiredDate" id="acquiredDate" [max]="today"
            (blur)="dateChanged($event,'acquiredDate')" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class" for="yearBuilt">Year Built</mat-label>
          <input matInput placeholder="yearBuilt" formControlName="yearBuilt" id="yearBuilt" type="number"
            matTooltipPosition="after" matTooltip="Enter a 4-digit year between 1950 and {{currentYear}}">
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-class" for="propAddress1">Address</mat-label>
          <input matInput placeholder="Address1" formControlName="propAddress1" id="propAddress1" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label for="propAddress2">Address2</mat-label>
          <input matInput placeholder="Address2(Optional)" id="propAddress2" formControlName="propAddress2" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label for="propAddress3">Address3</mat-label>
          <input matInput placeholder="Address3(Optional)" id="propAddress3" formControlName="propAddress3" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-class" for="city">City</mat-label>
          <input matInput placeholder="City" formControlName="city" id="city" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label for="province">Province</mat-label>
          <input matInput placeholder="Province" formControlName="province" id="province" type="text">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="lrNo">LR No</mat-label>
          <input matInput placeholder="LRNo" id="lrNo" formControlName="lrNo" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="latitude">Latitude</mat-label>
          <input matInput placeholder="Latitude" formControlName="latitude" id="latitude" type="number"
            class="right-align-input">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="longitude">Longitude</mat-label>
          <input matInput placeholder="Longitude" formControlName="longitude" id="longitude" type="number"
            class="right-align-input">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="altitude">Altitude(M)</mat-label>
          <input matInput placeholder="Altitude" formControlName="altitude" id="altitude" type="number"
            class="right-align-input">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center myCustomClass">
      <div class="col-2">
        <mat-checkbox formControlName="waterDiscount">Water Discount</mat-checkbox>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode" >
          <mat-label for="discType">Discount Type</mat-label>
          <mat-select formControlName="discType" id="discType" >
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of discTypeList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="discRate">Disc Rate</mat-label>
          <input matInput placeholder="Rate" formControlName="discRate" separator id="discRate" class="right-align-input" [disabled]="propForm.get('waterDiscount')?.value"
            type="text">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label for="discRate">Unit Rate</mat-label>
          <input matInput placeholder="Rate" formControlName="unitRate" separator id="discRate" class="right-align-input"
            type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9">
        <mat-form-field appearance="outline" style="width:100%;">
          <mat-label for="notes">Notes</mat-label>
          <input matInput placeholder="Notes" id="notes" formControlName="notes" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center myCustomClass">
      <div class="col-3">
        <mat-label>Block Count: </mat-label><b class="data">{{blockCount}}</b>
      </div>
      <div class="col-3">
        <mat-label>Unit Count: </mat-label><b class="data">{{unitCount}}</b>
      </div>
      <div class="col-3">
        <mat-label>Status: </mat-label><b class="data">{{propStatus | uppercase}}</b>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" [disabled]="propForm.get('mode')!.value === 'View' || propForm.invalid "
        class=btnUp><mat-icon>done</mat-icon>Apply</button>
      <button mat-raised-button color="accent" class="btnUp" type="button"
        (click)="clear()"><mat-icon>clear_all</mat-icon>Clear</button>

      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
        <mat-icon>cancel</mat-icon>Close
      </button>
    </div>
  </form>
</div>
