<!-- <div class="mat-card container-fluid">
  <div class="left data">OT Register</div>
  <div class="right">
    <button mat-raised-button color="accent" type="button" class="btnUp"
      (click)="onDetailsCilcked(otrForm.get('tranNo')!.value)"
      [disabled]="otrForm.get('tranNo')!.value === ''">Details</button>

    <button mat-raised-button color="primary" type="button" class="btnUp"
      (click)="onDocsCilcked(otrForm.get('tranNo')!.value)"
      [ngClass]="{'custom-disabled-button': disableDetail && fetchStatus}">Docs
    </button>
    <button mat-raised-button color="accent" class="btnUp" type="button"
      (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
      Help</button>
  </div>
</div> -->

<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">

      OT Register
    </div>
    <div class="flex items-end space-x-1 mb-2.5">
      <button mat-raised-button color="accent" type="button" class="btnUp"
      (click)="onDetailsCilcked(otrForm.get('tranNo')!.value)"
      [disabled]="otrForm.get('tranNo')!.value === ''">Details</button>

    <button mat-raised-button color="primary" type="button" class="btnUp"
      (click)="onDocsCilcked(otrForm.get('tranNo')!.value)"
      [ngClass]="{'custom-disabled-button': disableDetail && fetchStatus}">Docs
    </button>
    <button mat-raised-button color="accent" class="btnUp" type="button"
      (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
      Help</button>
    </div>
  </div>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="otrForm">
    <div class="row  justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Mode</mat-label>
          <mat-select formControlName="mode">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" style="width: 95%;">
          <mat-label>Tran No</mat-label>
          <input matInput placeholder="Tran No" formControlName="tranNo" type="text">
          <button mat-button *ngIf="otrForm.get('tranNo')!.value" type="button" matSuffix mat-icon-button
            aria-label="Clear" (click)="otrForm.get('tranNo')!.setValue('')">
            <mat-icon>cancel</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" type="button" (click)="get()"
            [disabled]="otrForm.get('mode')!.value === 'Add'">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline"  class="mat-mode">
          <mat-label class="mat-label-class">Tran Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="tranDate" [max]="tomorrow" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-5">
        <mat-form-field aria-colspan="2" appearance="outline" style="width:100%">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
        </mat-form-field>
      </div>
      <div class="col-3 myCustomClass">
        <mat-label>Status:&nbsp;</mat-label><b></b>
      </div>

    </div>
    <!-- <div class="row  justify-content-center" class="container" class={{textMessageClass}}> {{retMessage}}</div> -->
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp"
        [disabled]="otrForm.get('mode')!.value === 'View'">
        <mat-icon>done</mat-icon>Apply
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="onUpdate()">
        <mat-icon>cancel</mat-icon>Close
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="reset()">
        <mat-icon>clear_all</mat-icon>Clear
      </button>
    </div>
  </form>

</div>
