<!-- <div class="container-fluid">
  <div class="left data">Dashboard</div>
  <div class="btnPanel">
    <mat-form-field appearance="outline">
      <mat-label>Property</mat-label>
      <mat-select>
        <mat-option value="">--Select--</mat-option>
        <mat-option *ngFor="let x of locationList" [value]="x.itemCode">{{x.itemName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div> -->
<div>
  <div class="row">
    <div class="col-lg-6 col-6">
      <div class="small-box bg-info">
        <ag-charts-angular [options]="chartOptions">
        </ag-charts-angular>
      </div>
    </div>
    <div class="col-lg-6 col-6">
      <div class="small-box bg-info">
        <ag-charts-angular [options]="chartOptions1">
        </ag-charts-angular>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-6">
      <div class="small-box bg-info row">
        <div class="col-lg-6 col-6 myCustomClass" style="background: blanchedalmond; text-align: center;">
          <div class="table-header">
            <h3><b>Unit Report</b></h3>
          </div>
          <div class="table-content" *ngFor="let x of unitStatus">
            <div class="column">
              <label>{{x.unitStatus}}</label>
            </div>
            <div class="column">
              <b class="data">{{x.unitCount}}</b>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-6" style="background: rgb(241, 193, 121); text-align: center;">
          yes
        </div> -->
        <!-- <ag-charts-angular [options]="chartOptions3">
          </ag-charts-angular> -->
      </div>
    </div>
    <div class="col-lg-6 col-6">
      <div class="small-box bg-info">
        <ag-charts-angular [options]="chartOptions2">
        </ag-charts-angular>
      </div>
    </div>

  </div>
</div>
