<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
  <div class="flex justify-between items-center mb-0.1 h-8">
    <div class="flex items-center text-white">
      <mat-icon class="mr-1">business_center</mat-icon>
      <b class="ml-1">Projects & Ventures</b>
    </div>
    <div class="flex items-end space-x-1 mb-2.5">
      <button mat-raised-button color="accent" class="btnUp" type="button"
        [disabled]="vtrDetForm.get('mode')!.value == 'Add' || vtrDetForm.invalid"
        (click)="direction()"><mat-icon>my_location</mat-icon>Directions</button>
      <button mat-raised-button color="primary" type="button" class="btnUp"
        [disabled]="vtrDetForm.get('mode')!.value == 'Add' || vtrDetForm.invalid"
        (click)="onDocsCilcked(vtrDetForm.get('venture')!.value)"><mat-icon>cloud_upload</mat-icon>Docs</button>
      <button mat-raised-button class="btnUp" type="button" (click)="NotesDetails(vtrDetForm.get('venture')!.value )"
        [disabled]="vtrDetForm.get('venture')!.value === '' || vtrDetForm.get('venture')!.value === null">
        <mat-icon>note_add</mat-icon>
        Notes
      </button>
      <button mat-raised-button class="btnUp" type="button" (click)="logDetails(vtrDetForm.get('venture')!.value )"
        [disabled]="vtrDetForm.get('venture')!.value === '' || vtrDetForm.get('venture')!.value === null">
        <mat-icon>comment</mat-icon>
        Log
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button"
        (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
        Help</button>
    </div>
  </div>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="vtrDetForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label>Modes</mat-label>
          <mat-select formControlName="mode" (selectionChange)="modeChange(vtrDetForm.get('mode')!.value)">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Ventures</mat-label>
          <mat-select formControlName="venture" (selectionChange)="onSelectedItemChanged($event)">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of ventureList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Code</mat-label>
          <input matInput placeholder="Code" formControlName="code" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Venture Name</mat-label>
          <input matInput placeholder="Venture Name" formControlName="ventureName" type="text">
        </mat-form-field>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Latitude</mat-label>
          <input matInput placeholder="Latitude" formControlName="latitude" class="right-align-input" type="number">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Longitude</mat-label>
          <input matInput placeholder="Longitude" formControlName="longitude" class="right-align-input" type="number">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Altitude M</mat-label>
          <input matInput placeholder="Altitude_M" formControlName="altitude_M" class="right-align-input" type="number">
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- <div class="col-3"></div> -->
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Project Location</mat-label>
          <input matInput placeholder="Project Location" formControlName="projLocation" type="text">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label class="mat-label-class">Extent M2</mat-label>
          <input matInput placeholder="Extent M2" formControlName="extent_M2" class="right-align-input" type="number">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label for="vendor" class="mat-label-class">Vendor</mat-label>
          <input matInput type="text" placeholder="Vendor" id="vendor" formControlName="vendor" />
          <button matSuffix mat-icon-button aria-label="Clear" *ngIf="vtrDetForm.get('vendor')!.value"
            (click)="vtrDetForm.get('vendor')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" [disabled]="vtrDetForm.get('mode')!.value === 'View'"
            (click)="onSupplierSearch()" type="button">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="row row justify-content-center">
      <div class="col-3">
        <mat-form-field appearance="outline" class="mat-date">
          <mat-label class="mat-label-class">Acquired On</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="acquiredOn" [max]="today" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>Remarks</mat-label>
          <input matInput placeholder="Remarks" formControlName="remarks" type="text">
        </mat-form-field>
      </div>

      <div class="col-3 myCustomClass">
        <mat-label>Status:&nbsp;</mat-label><b class="data">{{tranStatus}}</b>
      </div>

    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp"
        [disabled]="vtrDetForm.get('mode')!.value === 'View' || vtrDetForm.invalid">
        <mat-icon>done</mat-icon>Apply </button>
      <button mat-raised-button color="accent" class="btnUp" type="button"
        (click)="clear()"><mat-icon>clear_all</mat-icon>Clear</button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="close()">
        <mat-icon>cancel</mat-icon>Close
      </button>
    </div>
  </form>
</div>
