<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>

<div class="mat-card container-fluid">
  <div class="left">Companies Mapped For :&nbsp;<b class="data">{{data.userId}}</b></div>
  <div class="right">
    <button mat-raised-button [disabled]="companyForm.invalid" color="accent" class="btnUp" type="button"
      (click)="properties()">
      <mat-icon>call_split</mat-icon><b>Properties</b>
    </button>
  </div>
</div>
<mat-card>
  <form [formGroup]="companyForm">
    <div class="row  justify-content-center">

      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-class">Company</mat-label>
          <mat-select matInput formControlName="company"
            (selectionChange)="companyChanges(companyForm.controls['company'].value)">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of companyList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" >
          <mat-label class="mat-label-class">Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" [max]="today" placeholder="Date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" class="btnUp" type="button"
        [disabled]="data.mode==='View' || companyForm.invalid" (click)="Map()"><mat-icon>add</mat-icon>Map</button>
      <button mat-raised-button color="accent" type="button" class="btnUp"
        [disabled]="data.mode==='View' || companyForm.invalid"
        (click)="unMap()"><mat-icon><mat-icon>remove</mat-icon></mat-icon>UnMap</button>
      <button mat-raised-button color="warn" type="button" class="btnUp"
        [mat-dialog-close]="true"><mat-icon>cancel</mat-icon>Close</button>
      <button mat-raised-button color="accent" type="button" class="btnUp"
        (click)="clear()"><mat-icon>clear_all</mat-icon>Clear</button>
    </div>

  </form>
</mat-card>
<ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine" style="height:180px;" #agGrid
  (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="rowData" [paginationPageSize]="25"
  [rowSelection]="rowSelection" [suppressRowClickSelection]="true" (rowSelected)="onRowSelected($event)"
  [gridOptions]="gridOptions">
</ag-grid-angular>
<div class="pageSizectrl" style="margin-top:-20px;">
  <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
    [ngModelOptions]="{standalone: true}">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
</div>
