.selected-row {
  background-color: #e2f3ff; /* Set your desired background color */
}
.custom-label {
  margin-right: 10px; /* Adjust this value to set the desired space */
}

.custom-checkbox {
  vertical-align: middle; /* Align the checkbox with the label */
}
