<!-- <h3 mat-dialog-title>Update Bill Details</h3> -->
<button mat-icon-button class="close-button" [mat-dialog-close]="{ isAltered: isAltered}">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>

<div class="flex items-center text-white rounded-sm bg-blue-400 space-x-4">
  <div class="flex items-center">
    <mat-icon class="mr-1">info</mat-icon>
    Extended Bill Details:<b class="data ml-2">{{data.tranNo}}</b>
  </div>
  <div class="flex items-center">
    Unit:<b class="data ml-2">{{data.unit}}</b>
  </div>
</div>

<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="updateBillsForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-form-field appearance="outline" style="width:100%">
          <mat-label class="mat-label-class">Mode</mat-label>
          <mat-select formControlName="mode">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="col-1">
        <mat-label class="myCustomClass">S.No:&nbsp;</mat-label><b class="data">{{slNo}}</b>
      </div> -->
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 150px;">
          <mat-label class="mat-label-class">Expense Type</mat-label>
          <mat-select formControlName="serviceType"  (selectionChange)="expenseChange($event)">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let type of expenseTypes" [value]="type.itemCode">
              {{ type.itemName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 150px;">
          <mat-label class="mat-label-class">Service Type</mat-label>
          <mat-select formControlName="expenseType" (selectionChange)="serviceChange($event)">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let type of serviceTypes" [value]="type.itemCode">
              {{ type.itemName }}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Prev Reading</mat-label>
          <input matInput formControlName="prevReading" type="text" placeholder="Reading" class="right-align-input"
            [disabled]="true">

        </mat-form-field>
      </div>
      <!-- <div class="col-2">
        <mat-label class="myCustomClass"> Prevoius Reading: </mat-label> <b class="data">{{previousReading}}</b>
      </div> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-label class="myCustomClass">last Date: </mat-label> <b class="data">{{lastReading | date:'dd-MM-yyyy'}}</b>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Curr Reading</mat-label>
          <input matInput formControlName="reading" type="text" placeholder="Reading" class="right-align-input"
            (focusout)="onCurrentReadingChanged()">
          <mat-error *ngIf="updateBillsForm.get('reading')?.hasError('required')">
            Reading is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Unit Count</mat-label>
          <input matInput formControlName="unit" type="text" placeholder="Unit Count" class="right-align-input">
          <mat-error *ngIf="updateBillsForm.get('unit')?.hasError('required')">
            Unit Count is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Rate</mat-label>
          <input matInput formControlName="rate" separator type="text" placeholder="Rate" class="right-align-input"
            (focusout)="onRateChanged()">
          <mat-error *ngIf="updateBillsForm.get('rate')?.hasError('required')">
            Rate is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Amount</mat-label>
          <input matInput formControlName="amount" separator type="text" placeholder="Amount" class="right-align-input">
          <mat-error *ngIf="updateBillsForm.get('amount')?.hasError('required')">
            Amount is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp"
        [disabled]="data.mode === 'View' || updateBillsForm.invalid">
        <mat-icon>done</mat-icon>Apply
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="Clear()">
        <mat-icon>clear_all</mat-icon>Clear
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" [mat-dialog-close]="{ isAltered: isAltered}">
        <mat-icon>cancel</mat-icon>Close
      </button>
    </div>
  </form>
</div>
<div class="grid">
  <ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine"
    style="width: 100%; height:230px;" #agGrid (gridReady)="onGridReady($event)" [columnDefs]="columnDefs"
    [rowData]="rowData" [paginationPageSize]="25" [rowSelection]="rowSelection" [suppressRowClickSelection]="true"
    (rowSelected)="onRowSelected($event)" [gridOptions]="gridOptions">
  </ag-grid-angular>

</div>
<div class="pageSizectrl" style="margin-top:-20px;">
  <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
    [ngModelOptions]="{standalone: true}">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
</div>
