<section>
    <div class="mat-card container-fluid">
      <div class="left">Gross Margin</div>
      <!-- <div class="right">
        <button mat-raised-button color="accent" class="btnUp" type="button"
          (click)="onDetailsCilcked(bankDeptForm.get('tranNo')!.value)"
          [disabled]="bankDeptForm.get('tranNo')!.value === ''">
          Details
        </button>
      </div> -->
      <button mat-raised-button style="background-color: yellow; color: rgb(17, 15, 15);" class="btnUp" type="button"
      (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
      Help</button>
    </div>
    <mat-card>
      <!-- <div class="container-fluid"> -->
      <form [formGroup]="grossForm" (ngSubmit)="onSubmit()" #frmClear="ngForm">
        <div class="row justify-content-center">
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>Mode</mat-label>
              <mat-select formControlName="mode" (selectionChange)="modeChange(grossForm.get('mode')!.value)">
                <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-3">
            <mat-form-field appearance="outline" class="mat-date">
              <mat-label>From Date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="FromDate" [max]="tomorrow"/>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-3">
            <mat-form-field appearance="outline" class="mat-date">
              <mat-label>To Date</mat-label>
              <input matInput [matDatepicker]="picker3" formControlName="ToDate" [max]="tomorrow" />
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="btnAlignment">

          <button mat-raised-button color="primary" type="submit" class="btnUp">
            <mat-icon>done</mat-icon>Apply
          </button>

          <button mat-raised-button color="accent" class="btnUp" type="button" (click)="Close()">
            <mat-icon>cancel</mat-icon>Close
          </button>
          <button mat-raised-button color="accent" class="btnUp" type="button" >
            <mat-icon>refresh</mat-icon>Reset
          </button>
          <button mat-raised-button color="warn" class="btnUp" type="button">
            <mat-icon>help</mat-icon>Help
          </button>

        </div>
      </form>
    </mat-card>
</section>
