<div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
    <div class="flex justify-between items-center mb-0.1 h-8">
      <div class="flex items-center text-white">
        <mat-icon class="mr-1">receipt</mat-icon>
        <b>Skin Types</b><b class="data">(Types)</b>
      </div>
      <div class="flex items-end space-x-1 mb-2.5">
        <!-- <button mat-raised-button color="accent" type="button" class="btnUp"
          ><mat-icon>info</mat-icon>Details</button>
        <button mat-raised-button color="primary" type="button" class="btnUp"
          ><mat-icon>cloud_upload</mat-icon>Docs</button>
        <button mat-raised-button class="btnUp" type="button" >
          <mat-icon>note_add</mat-icon>
          Notes
        </button> -->
        <button mat-raised-button class="btnUp" type="button" >
          <mat-icon>comment</mat-icon>Log
        </button>
        <button mat-raised-button color="accent" class="btnUp" type="button" >
          <mat-icon>help</mat-icon>
          Help
        </button>
      </div>
    </div>
  </div>
  <div class="p-4 bg-zinc-100 container rounded-sm">
    <form [formGroup]="typesForm" (ngSubmit)="update()">
        <div class="row">
            <div class="col-10">
                <div class="row row justify-content-center">
                    <div class="col-2">
                        <mat-form-field appearance="outline" class="mat-mode">
                            <mat-label>Mode</mat-label>
                            <mat-select formControlName="mode" >
                              <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{x.itemName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-2">
                        <!-- <mat-form-field appearance="outline" class="mat-mode">
                            <mat-label>Skin Types</mat-label>
                            <mat-select formControlName="skinsTypes" >
                              <mat-option *ngFor="let x of skinsList" [value]="x.itemCode">{{x.itemName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                           -->
                          <mat-form-field appearance="outline" style="width:90%">
                            <mat-label class="mat-label-class">Skin Type</mat-label>
                            <input matInput type="text" placeholder="Skin type" formControlName="skinsTypes"
                              >
                            <!-- <button matSuffix mat-icon-button aria-label="Clear" *ngIf="grnForm.get('supplier')!.value"
                              (click)="grnForm.get('supplier')!.setValue('')" type="button"> -->
                              <!-- <mat-icon class="mat-clear-icon">clear</mat-icon> -->
                            <!-- </button> -->
                            <!-- <button matSuffix mat-icon-button aria-label="Search" [disabled]="grnForm.get('mode')!.value == 'View'"
                              (click)="onSupplierSearch()" type="button">
                              <mat-icon class="mat-search-icon">search</mat-icon>
                            </button> -->
                          </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="outline" style="width:90%">
                          <mat-label class="mat-label-class">Skin Desc</mat-label>
                          <input matInput type="text" placeholder="Supplier" formControlName="SkinDesc"
                            >
                          <!-- <button matSuffix mat-icon-button aria-label="Clear" *ngIf="grnForm.get('supplier')!.value"
                            (click)="grnForm.get('supplier')!.setValue('')" type="button"> -->
                            <!-- <mat-icon class="mat-clear-icon">clear</mat-icon> -->
                          <!-- </button> -->
                          <!-- <button matSuffix mat-icon-button aria-label="Search" [disabled]="grnForm.get('mode')!.value == 'View'"
                            (click)="onSupplierSearch()" type="button">
                            <mat-icon class="mat-search-icon">search</mat-icon>
                          </button> -->
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field appearance="outline" class="mat-mode">
                            <mat-label>UOM</mat-label>
                            <mat-select formControlName="UOM" >
                              <mat-option *ngFor="let x of UOMList" [value]="x.itemCode">{{x.itemName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <!-- <mat-form-field appearance="outline" style="width:90%">
                          <mat-label class="mat-label-class">UOM</mat-label>
                          <input matInput type="text" placeholder="Supplier" formControlName="UOM" -->
                            <!-- > -->
                          <!-- <button matSuffix mat-icon-button aria-label="Clear" *ngIf="grnForm.get('supplier')!.value"
                            (click)="grnForm.get('supplier')!.setValue('')" type="button"> -->
                            <!-- <mat-icon class="mat-clear-icon">clear</mat-icon> -->
                          <!-- </button> -->
                          <!-- <button matSuffix mat-icon-button aria-label="Search" [disabled]="grnForm.get('mode')!.value == 'View'"
                            (click)="onSupplierSearch()" type="button">
                            <mat-icon class="mat-search-icon">search</mat-icon>
                          </button> -->
                        <!-- </mat-form-field> -->
                      </div>
                      <div class="col-2">
                        <mat-form-field appearance="outline" class="mat-mode">
                            <mat-label class="mat-label-class">Eff Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="effDate" [max]="tomorrow" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="row row justify-content-center">
                
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width:90%">
                        <mat-label class="mat-label-class">Notes</mat-label>
                        <input matInput type="text" placeholder="Supplier" formControlName="notes"
                          >
                        
                      </mat-form-field>
                </div>
            </div>
        </div>
        <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>

        <div class="btnAlignment">
            <button mat-raised-button color="primary" type="submit" class="btnUp" [disabled]="selectedSkinId === ''  || typesForm.get('mode')?.value !='Modify' " 
              ><mat-icon>done</mat-icon>Apply</button>
            <button mat-raised-button color="accent" class="btnUp" type="button"
              ><mat-icon>clear_all</mat-icon>Clear</button>
            <button mat-raised-button color="warn" class="btnUp" type="button"
              ><mat-icon>cancel</mat-icon>Close</button>
          </div>
    </form>
    <div style="margin-top: -30px;">
        <app-access-grid [columnDefs]="columnDefs" [rowData]="rowData" [exportPDF]="true" [exportExcel]="true"
          [globalSearch]="true"  (cellClicked)="onRowSelected($event)"
          [gridHeight]="'240px'" [paginationPageSize]="25" [showToolPanel]="true" 
          [showRecordCount]="true"></app-access-grid>
      </div>
  </div>