<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>
<div class="flex items-center text-white rounded-sm bg-blue-400 ">
  <mat-icon class="mr-1">timeline</mat-icon>
  {{data.search | titlecase}}:&nbsp;<b class="data">{{data.yearCode}}</b>
</div>
<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="finaDetForm" (ngSubmit)="onUpdate()">
    <div class="row  justify-content-center myCustomClass">
      <div class="col-1">
        <mat-label>SlNo:</mat-label><b class="data">{{slNum}}</b>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Period No</mat-label>
          <input matInput placeholder="Period No" formControlName="periodNo" type="text">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field aria-colspan="2" appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Period Name</mat-label>
          <input matInput placeholder="Period Name" formControlName="periodName" type="text">
        </mat-form-field>
      </div>
      <div class="col-2">
        <!-- <mat-form-field aria-colspan="2" appearance="outline" >
          <mat-label class="mat-label-class">Period From</mat-label>
          <input matInput placeholder="Period From" class="right-align-input" formControlName="periodFrom" type="text">
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Period From</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="periodFrom" [max]="tomorrow" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-2">
        <!-- <mat-form-field aria-colspan="2" appearance="outline" >
          <mat-label class="mat-label-class">Period To</mat-label>
          <input matInput placeholder="Period To" class="right-align-input" formControlName="periodTo" type="text">
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="mat-mode">
          <mat-label class="mat-label-class">Period To</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="periodFrom" [max]="tomorrow" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field aria-colspan="2" appearance="outline">
          <mat-label>Remarks</mat-label>
          <input matInput placeholder="Remarks" formControlName="remarks" type="text">
        </mat-form-field>
        <!-- <mat-form-field aria-colspan="2" appearance="outline"  >
          <mat-label class="mat-label-class">Warehouse</mat-label>
          <mat-select formControlName="warehouse">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of warehouseList" [value]="x.itemCode">{{x.itemName}}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>

    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp"
        [disabled]="data.mode ==='View' || finaDetForm.invalid">
        <mat-icon>done</mat-icon><b>Apply</b>
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="New()">
        <mat-icon>add</mat-icon><b>New</b>
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" [mat-dialog-close]="{isAltered:dailogchange}">
        <mat-icon>cancel</mat-icon><b>Close</b>
      </button>
    </div>
  </form>
</div>
<ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine" style="width: 100%; height:230px;"
  #agGrid (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="rowData" [paginationPageSize]="25"
  [rowSelection]="rowSelection" [suppressRowClickSelection]="true" (rowSelected)="onRowSelected($event)"
  [gridOptions]="gridOptions">
</ag-grid-angular>
<div class="pageSizectrl" style="margin-top:-20px;">
  <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
    [ngModelOptions]="{standalone: true}">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
</div>
