<!-- <div class="balance-amount balance-debit">{{ custName }}</div> -->

<div >
  <app-access-grid [columnDefs]="columnDefs" [rowData]="rowData" [exportPDF]="true" [exportExcel]="true"
    [globalSearch]="true" (gridReady)="onGridReady($event)"  (filterChanges)="onFilterData($event)"
    [gridHeight]="'340px'" [paginationPageSize]="100" [showToolPanel]="true" [reportName]="'Unit Details'"
    [showRecordCount]="true" [totals]="totals"  (columnVisibilityChanged)="onColumnVisibilityChanged($event)">
  </app-access-grid>
</div>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
  </button>
<!-- <div class="balance-container" *ngIf="!acBalTmp" >
  <span class="balance-label">Rent Amount:</span>
  <span class="balance-amount balance-credit" >{{ Actual | number: '1.2-2' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="balance-label">Payble Amount:</span>
  <span class="balance-amount balance-debit">{{ Payble | number: '1.2-2' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
</div> -->

