<!-- <div class="large-form">
    <div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
      <div class="flex justify-between items-center mb-0.1 h-8">
        <div class="flex items-center text-white">
          <mat-icon class="mr-1">shopping_cart</mat-icon>
          <b>{{title | titlecase}}</b>
        </div>
        <div class="flex items-end space-x-1 mb-2.5">
          <button mat-raised-button color="primary" 
          class="btnUp" type="button" >
           <mat-icon>info</mat-icon>Details
         </button>
         <button mat-raised-button color="accent" type="button" class="btnUp" 
         ><mat-icon>cloud_upload</mat-icon>Docs</button>
         <button mat-raised-button color="primary" class="btnUp" type="button" >
           <mat-icon>help</mat-icon>
           Help
         </button>
        </div>
      </div>
    </div>
        <div class="p-4 bg-zinc-100 container rounded-sm">
      <form [formGroup]="receiptsForm" (ngSubmit)="onSubmit()" #frmClear="ngForm">
        <div class="form-wrapper">
        <div class="row justify-content-center  myCustomClass">
            <div class="col-3">
                <mat-form-field appearance="outline" >
                <mat-label>Receipt Type</mat-label>
          <mat-select formControlName="receiptmode" (selectionChange)="receiptTypeChange($event.value)">
            <mat-option *ngFor="let x of receiptmodes" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
            </div>
            <div class="col-3">
                        <mat-form-field appearance="outline" >
                <mat-label>Mode</mat-label>
          <mat-select formControlName="mode" (selectionChange)="modeChange(receiptsForm.controls['mode'].value)">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
            </div>
        <div class="col-3">
            <mat-form-field appearance="outline" >
              <mat-label class="mat-label-class">Tran Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="tranDate" [max]="tomorrow"
                (dateChange)="tranDateChanged()" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field appearance="outline" >
            <mat-label>Tran No</mat-label>
            <input matInput type="text" placeholder="Tran No" formControlName="tranNo"
              [disabled]="receiptsForm.get('mode')!.value == 'Add'" />
            <button matSuffix mat-icon-button aria-label="Clear" *ngIf="receiptsForm.get('tranNo')!.value"
              (click)="receiptsForm.get('tranNo')?.setValue('')" type="button">
              <mat-icon class="mat-clear-icon">clear</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Search" [disabled]="receiptsForm.get('mode')!.value == 'Add'"
              (click)="onSearchCilcked()" type="button">
              <mat-icon class="mat-search-icon">search</mat-icon>
            </button>
          </mat-form-field>
        </div>
        </div>
        <div class="row justify-content-center  myCustomClass">
            <div class="col-3">
                <mat-form-field appearance="outline" >
              <mat-label class="mat-label-class">Client Type</mat-label>
              <mat-select formControlName="clientType" >
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let x of filteredItemsClientType" [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label class="mat-label-class">Client Name</mat-label>
            <input matInput type="text" placeholder="Client Name" formControlName="clientName" />
            <button matSuffix mat-icon-button aria-label="Clear" *ngIf="receiptsForm.get('clientName')!.value"
              (click)="receiptsForm.get('clientName')?.setValue('')" type="button">
              <mat-icon class="mat-clear-icon">clear</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Search" [disabled]="receiptsForm.get('mode')!.value == 'View' || receiptsForm.get('rctType')!.value == ''
              || receiptsForm.get('clientType')!.value == ''" (click)="onSearchClientName()" type="button">
              <mat-icon class="mat-search-icon">search</mat-icon>
            </button>
          </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline"  
          >
          <mat-label>Tran For</mat-label>
          <mat-select formControlName="tranFor" (selectionChange)="onSelectionChangeClientType()"  >
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of filteredItemsTranFor" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="col-3">
        <mat-form-field appearance="outline" 
          >
          <mat-label>Tran Type</mat-label>
          <mat-select formControlName="rctType" (selectionChange)="onSelectionChangeClientType()" >
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of rctTypeList" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center  myCustomClass">
            <div class="col-4">
                <mat-form-field appearance="outline" >
            <mat-label>Pay Mode</mat-label>
            <mat-select formControlName="rctMode" (selectionChange)="PayModeChanged()">
              <mat-option value="">--Select--</mat-option>
              <mat-option *ngFor="let x of filteredpayMode" [value]="x.itemCode">{{ x.itemName }}</mat-option>
            </mat-select>
          </mat-form-field>
            </div>
            <div class="col - 4">
                <mat-form-field appearance="outline" >
              <mat-label>Amount</mat-label>
              <input matInput placeholder="Amount" class="right-align-input" formControlName="rctAmount" type="text"
                appNumberFormat separator />
            </mat-form-field>
            </div>
            <div class="col-4">
                   <mat-checkbox  formControlName="recurring"></mat-checkbox> 
                 <mat-label>Recurrig</mat-label>
            </div>
        </div>
        </div>
        <div class="row justify-content-center">
  <div class="col-md-6">
    <mat-card class="mat-elevation-z3 section-card">
      <mat-card-title>Provider Info</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Provider Type</mat-label>
              <mat-select formControlName="providerType">
                <mat-option *ngFor="let item of providerTypes" [value]="item.itemCode">{{ item.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Provider</mat-label>
              <mat-select formControlName="provider">
                <mat-option *ngFor="let item of providers" [value]="item.itemCode">{{ item.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Ref No</mat-label>
              <input matInput formControlName="refNo" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Ref Date</mat-label>
              <input matInput [matDatepicker]="refDate" formControlName="refDate" />
              <mat-datepicker-toggle matSuffix [for]="refDate"></mat-datepicker-toggle>
              <mat-datepicker #refDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Other Ref 1</mat-label>
              <input matInput formControlName="otherRef1" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Other Ref 1 Date</mat-label>
              <input matInput [matDatepicker]="otherRefDate1" formControlName="otherRefDate1" />
              <mat-datepicker-toggle matSuffix [for]="otherRefDate1"></mat-datepicker-toggle>
              <mat-datepicker #otherRefDate1></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Other Ref 2</mat-label>
              <input matInput formControlName="otherRef2" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of statusList" [value]="status.itemCode">{{ status.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card class="mat-elevation-z3 section-card">
      <mat-card-title>Account Info</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Provider Type</mat-label>
              <mat-select formControlName="accountProviderType">
                <mat-option *ngFor="let item of providerTypes" [value]="item.itemCode">{{ item.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Provider</mat-label>
              <mat-select formControlName="accountProvider">
                <mat-option *ngFor="let item of providers" [value]="item.itemCode">{{ item.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Account No</mat-label>
              <input matInput formControlName="accountNo" />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

    </form>
</div>
</div>



 -->






<div class="large-form">
  <div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
    <div class="flex justify-between items-center mb-0.1 h-8">
      <div class="flex items-center text-white">
        <mat-icon class="mr-1">shopping_cart</mat-icon>
        <b>{{ title | titlecase }}</b>
      </div>
      <div class="flex items-end space-x-1 mb-2.5">
        <button mat-raised-button color="primary" class="btnUp" type="button">
          <mat-icon>info</mat-icon>Details
        </button>
        <button mat-raised-button color="accent" class="btnUp" type="button">
          <mat-icon>cloud_upload</mat-icon>Docs
        </button>
        <button mat-raised-button color="primary" class="btnUp" type="button">
          <mat-icon>help</mat-icon>Help
        </button>
      </div>
    </div>
  </div>

  <div class="p-4 bg-zinc-100 container rounded-sm">
    <form [formGroup]="receiptsForm" (ngSubmit)="onSubmit()" #frmClear="ngForm">
      <!-- Form Wrapper -->
      <div class="form-wrapper">
        <!-- Row 1: Receipt Info -->
        <mat-card class="form-wrapper">
  <mat-card-content>

    <!-- Row 1: Transaction Info -->
    <div class="row myCustomClass">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tran Type</mat-label>
          <mat-select formControlName="rctType" (selectionChange)="onSelectionChangeClientType()">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of rctTypeList" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="w-full">
          <mat-label>Receipt Type</mat-label>

          <mat-select formControlName="receiptmode" (selectionChange)="receiptTypeChange($event.value)">
            <mat-option  value="">--Select--</mat-option>
            <mat-option *ngFor="let x of receiptmodes" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Mode</mat-label>
          <mat-select formControlName="mode" (selectionChange)="modeChange(receiptsForm.controls['mode'].value)">
            <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tran Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="tranDate" [max]="tomorrow" (dateChange)="tranDateChanged()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tran No</mat-label>
          <input matInput type="text" placeholder="Tran No" formControlName="tranNo" [disabled]="receiptsForm.get('mode')!.value == 'Add'" />
          <button matSuffix mat-icon-button *ngIf="receiptsForm.get('tranNo')!.value" (click)="receiptsForm.get('tranNo')?.setValue('')" type="button">
            <mat-icon>clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button [disabled]="receiptsForm.get('mode')!.value == 'Add'" (click)="onSearchCilcked()" type="button">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <!-- Row 2: Client Info -->
    <div class="row myCustomClass">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Client Type</mat-label>
          <mat-select formControlName="clientType">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of filteredItemsClientType" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Client Name</mat-label>
          <input matInput type="text" placeholder="Client Name" formControlName="clientName" />
          <button matSuffix mat-icon-button *ngIf="receiptsForm.get('clientName')!.value" (click)="receiptsForm.get('clientName')?.setValue('')" type="button">
            <mat-icon>clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button [disabled]="receiptsForm.get('mode')!.value == 'View' || receiptsForm.get('rctType')!.value == '' || receiptsForm.get('clientType')!.value == ''" (click)="onSearchClientName()" type="button">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tran For</mat-label>
          <mat-select formControlName="tranFor" (selectionChange)="onSelectionChangeClientType()">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of filteredItemsTranFor" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <!-- <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tran Type</mat-label>
          <mat-select formControlName="rctType" (selectionChange)="onSelectionChangeClientType()">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of rctTypeList" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>

    <!-- Row 3: Pay Info -->
    <div class="row myCustomClass">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Pay Mode</mat-label>
          <mat-select formControlName="rctMode" (selectionChange)="PayModeChanged()">
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let x of filteredpayMode" [value]="x.itemCode">{{ x.itemName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount" class="right-align-input" formControlName="rctAmount" type="text" appNumberFormat separator />
        </mat-form-field>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <mat-checkbox formControlName="recurring"></mat-checkbox> <label class="ml-2">Recurring</label>

      </div>
    </div>

  </mat-card-content>
</mat-card>


        <!-- Row 4: Side-by-Side Cards -->
        <div class="row mb-0">
          <!-- Provider Card -->
          <div class="col-md-6">
            <mat-card class="mat-elevation-z3">
              <mat-card-title class="titleCard">Provider Info</mat-card-title>
              <mat-card-content>
                <div class="row">
                  <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Provider Type</mat-label>
              <mat-select formControlName="providerType" (onselectionChange) = "onSelectionChangeProviderType()">
                                                      <mat-option value="">--Select--</mat-option>

                <mat-option *ngFor="let item of providerTypes" [value]="item.itemCode">{{ item.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Provider</mat-label>
              <mat-select formControlName="provider">
                                                      <mat-option value="">--Select--</mat-option>

                <mat-option *ngFor="let item of providers" [value]="item.itemCode">{{ item.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
                  <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Ref No</mat-label>
              <input matInput formControlName="refNo" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Ref Date</mat-label>
              <input matInput [matDatepicker]="refDate" formControlName="refDate" />
              <mat-datepicker-toggle matSuffix [for]="refDate"></mat-datepicker-toggle>
              <mat-datepicker #refDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Other Ref 1</mat-label>
              <input matInput formControlName="otherRef1" />
            </mat-form-field>
          </div>
          <!-- <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Other Ref 1 Date</mat-label>
              <input matInput [matDatepicker]="otherRefDate1" formControlName="otherRefDate1" />
              <mat-datepicker-toggle matSuffix [for]="otherRefDate1"></mat-datepicker-toggle>
              <mat-datepicker #otherRefDate1></mat-datepicker>
            </mat-form-field>
          </div> -->

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Other Ref 2</mat-label>
              <input matInput formControlName="otherRef2" />
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of statusList" [value]="status.itemCode">{{ status.itemName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Account Card -->
          <div class="col-md-6">
            <mat-card class="mat-elevation-z3">
              <mat-card-title class="titleCard">Account Info</mat-card-title>
              <mat-card-content>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Provider Type</mat-label>
                      <mat-select formControlName="accountProviderType">
                                        <mat-option value="">--Select--</mat-option>
                        <mat-option *ngFor="let item of providerTypes" [value]="item.itemCode">{{ item.itemName }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Provider</mat-label>

                      <mat-select formControlName="accountProvider">
                                                              <mat-option value="">--Select--</mat-option>

                        <mat-option *ngFor="let item of providers" [value]="item.itemCode">{{ item.itemName }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Account No</mat-label>
                      <input matInput formControlName="accountNo" />
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <div class="flex justify-center mt-0.1">
      <button mat-raised-button color="primary" class="btnUp" type="submit"
        [disabled]="receiptsForm.get('mode')!.value === 'View' || receiptsForm.invalid">
        <mat-icon>done</mat-icon> Apply
        
      </button>
      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="clear()">
        <mat-icon>clear_all</mat-icon> Clear
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" (click)="close()">
        <mat-icon>cancel</mat-icon> Close
      </button>
 <!-- <button mat-raised-button color="accent" class="btnUp" type="button" (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>go back </button>     -->
      </div>
            </mat-card>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
