.grid{
  margin-top: 10px !important;
}

.myCustomClass {
  /* background-color: rgb(162, 166, 177); */
  color: black !important;
  border-radius: 3px !important;
  font-weight: 600 !important;
  font-size: 11px !important;
}
