<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon small-icon" color="warn">close</mat-icon>
</button>
<div class="flex items-center text-white rounded-sm bg-blue-400 ">
  <mat-icon class="mr-1">event</mat-icon>
  <b>Pre Booking Unit</b>
</div>

<div class="p-4 bg-zinc-100 container rounded-sm">
  <form [formGroup]="preBookingForm" (submit)="onSubmit()">
    <div class="row  justify-content-center myCustomClass">
      <div class="col-4">
        <mat-label>Property:&nbsp;</mat-label><b class="data">{{data.Property}}</b>
      </div>
      <div class="col-3">
        <mat-label>Block:&nbsp;</mat-label><b class="data">{{data.Block}}</b>
      </div>
      <div class="col-3">
        <mat-label>Flat No:&nbsp;</mat-label><b class="data">{{data.Flat}}</b>
      </div>

    </div>
    <div class="row  justify-content-center">
      <div class="col-4" >
        <mat-form-field appearance="outline" class="search">
          <mat-label  class="mat-label-class">Tenant</mat-label>
          <input matInput type="text" placeholder="Tenant" formControlName="tenantName" />
          <button matSuffix mat-icon-button aria-label="Clear" *ngIf="preBookingForm.get('tenantName')!.value" (click)="preBookingForm.get('tenantName')!.setValue('')" type="button">
            <mat-icon class="mat-clear-icon">clear</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Search" (click)="onTenantSearch()" type="button" [disabled]="data.mode === 'View'">
            <mat-icon class="mat-search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="mat-date" appearance="outline">
          <mat-label class="mat-label-class">Booking Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="bookingDate" [max]="today" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="mat-date" appearance="outline">
          <mat-label class="mat-label-class">Join Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="joinDate" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label  class="mat-label-class">Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">--Select--</mat-option>
            <mat-option value="Waiting">Waiting</mat-option>
            <mat-option value="Closed">Closed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" style="width:100%">
          <input type="text" placeholder="Notes" matInput formControlName="notes" />
        </mat-form-field>
      </div>
    </div>
    <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
    
    <div class="btnAlignment">
      <button mat-raised-button color="primary" type="submit" class="btnUp" [disabled]="data.mode === 'View' || preBookingForm.invalid">
        <mat-icon>done</mat-icon>Apply
      </button>
      <button mat-raised-button color="warn" class="btnUp" type="button" [mat-dialog-close]="true">
        <mat-icon>cancel</mat-icon>Close
      </button>
    </div>
  </form>
</div>
  <ag-grid-angular class="grid-with-lines" [pagination]="true" class="ag-theme-alpine"
    style="width: 100%; height:230px;" #agGrid (gridReady)="onGridReady($event)" [columnDefs]="columnDefs"
    [rowData]="rowData" [paginationPageSize]="25" [rowSelection]="rowSelection" [suppressRowClickSelection]="true"
    (rowSelected)="onRowSelected($event)" [gridOptions]="gridOptions">
  </ag-grid-angular>
  <div class="pageSizectrl" style="margin-top:-20px;">
    <select id="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()"
    [ngModelOptions]="{standalone: true}">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
  </div>
