<section>
  <div class="container mx-auto p-0.1 bg-blue-400 shadow rounded">
    <div class="flex justify-between items-center mb-0.1 h-8">
      <div class="flex items-center text-white">
        <mat-icon class="mr-1">swap_horizontal_circle</mat-icon>
        <b>Stock Transfer</b>
      </div>
      <div class="flex items-end space-x-1 mb-2.5">
        <button mat-raised-button color="accent" type="button" class="btnUp"
        (click)="onDetailsCilcked(stockTransferForm.get('tranNo')!.value)"
        [disabled]="stockTransferForm.get('mode')!.value === 'Add' || stockTransferForm.invalid"><mat-icon>info</mat-icon>Details</button>
      <button mat-raised-button color="primary" type="button" class="btnUp" [disabled]="stockTransferForm.invalid"
        (click)="onDocsCilcked(stockTransferForm.get('tranNo')!.value)"><mat-icon>cloud_upload</mat-icon>Docs
      </button>
      <button mat-raised-button class="btnUp" type="button"
        (click)="NotesDetails(stockTransferForm.get('tranNo')!.value )"
        [disabled]="stockTransferForm.get('tranNo')!.value === '' || stockTransferForm.get('tranNo')!.value === null">
        <mat-icon>note_add</mat-icon>
        Notes
      </button>
      <button mat-raised-button class="btnUp" type="button"
        (click)="logDetails(stockTransferForm.get('tranNo')!.value )"
        [disabled]="stockTransferForm.get('tranNo')!.value === '' || stockTransferForm.get('tranNo')!.value === null">
        <mat-icon>comment</mat-icon>
        Log
      </button>

      <button mat-raised-button color="accent" class="btnUp" type="button" (click)="onHelpCilcked()"><mat-icon>help</mat-icon>
        Help</button>
      </div>
    </div>
  </div>
  <div class="p-4 bg-zinc-100 container rounded-sm">
    <form [formGroup]="stockTransferForm" (ngSubmit)="onSubmit()" #frmClear="ngForm">
      <div class="row justify-content-center myCustomClass">

        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode" (selectionChange)="modeChange(stockTransferForm.get('mode')!.value)">
              <mat-option *ngFor="let x of modes" [value]="x.itemCode">{{ x.itemName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field appearance="outline" style="width: 95%;">
            <mat-label>Tran No</mat-label>
            <input matInput placeholder="TranNo" formControlName="tranNo" type="text">
            <button mat-button *ngIf="stockTransferForm.get('tranNo')!.value" type="button" matSuffix mat-icon-button
              aria-label="Clear" (click)="stockTransferForm.get('tranNo')!.setValue('')">
              <mat-icon>cancel</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Search" type="button" (click)="searchData()"
              [disabled]="stockTransferForm.get('mode')!.value === 'Add'">
              <mat-icon class="mat-search-icon">search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-date">
            <mat-label class="mat-label-class">Tran Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="tranDate" [max]="tomorrow" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <div class="row justify-content-center myCustomClass">

        <div class="col-2">
          <mat-form-field appearance="outline" class="mat-mode">
            <mat-label class="mat-label-class">To Location</mat-label>
            <mat-select formControlName="toLocn" (selectionChange)="getSelectedLocationWarehousesList()">
              <mat-option value="">--Select--</mat-option>
              <mat-option *ngFor="let x of locations" [value]="x.itemCode">{{x.itemName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field appearance="outline">
            <mat-label>Request No</mat-label>
            <input type="text" placeholder="Pick one" matInput formControlName="matReqNo" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-2">
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-6 offset-sm-1">
          <mat-form-field appearance="outline" aria-colspan="2" style="width: 100%;">
            <mat-label>Remarks</mat-label>
            <input matInput placeholder="Remarks" formControlName="remarks" />
          </mat-form-field>
        </div>
        <div class="col-2 myCustomClass">
          <mat-label>Status:&nbsp;</mat-label><b class="data">{{tranStatus | uppercase}}</b>
        </div>

      </div>

      <app-message-box [msg]="retMessage" [classtype]="textMessageClass"></app-message-box>
      <div class="btnAlignment">
        <button mat-raised-button color="primary" type="submit" class="btnUp"
          [disabled]="stockTransferForm.get('mode')!.value === 'View' || stockTransferForm.invalid || tranStatus.toUpperCase() ==='AUTHORIZED'">
          <mat-icon>done</mat-icon>Apply
        </button>
        <button mat-raised-button color="accent" class="btnUp" type="button" (click)="clear()">
          <mat-icon>clear_all</mat-icon>Clear
        </button>
        <button mat-raised-button color="warn" class="btnUp" type="button" (click)="Close()">
          <mat-icon>cancel</mat-icon>Close
        </button>
      </div>
    </form>
  </div>
</section>
